/* Common styles */
/* Normalize CSS */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover,
a:focus {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Colors */
/* Fonts */
@font-face {
  font-family: 'FiraSans-Regular';
  src: url("../fonts/FiraSafira-sans/ns-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSafira-sans/ns-Regular.otf") format("opentype"), url("../fonts/fira-sans/FiraSans-Regular.woff") format("woff"), url("../fonts/fira-sans/FiraSans-Regular.ttf") format("truetype"), url("../fonts/fira-sans/FiraSans-Regular.svg#FiraSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FiraSans-Book';
  src: url("../fonts/fira-sans/FiraSans-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/fira-sans/FiraSans-Book.otf") format("opentype"), url("../fonts/fira-sans/FiraSans-Book.woff") format("woff"), url("../fonts/fira-sans/FiraSans-Book.ttf") format("truetype"), url("../fonts/fira-sans/FiraSans-Book.svg#FiraSans-Book") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FiraSans-Bold';
  src: url("../fonts/fira-sans/FiraSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/fira-sans/FiraSans-Bold.otf") format("opentype"), url("../fonts/fira-sans/FiraSans-Bold.woff") format("woff"), url("../fonts/fira-sans/FiraSans-Bold.ttf") format("truetype"), url("../fonts/fira-sans/FiraSans-Bold.svg#FiraSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

.container {
  width: 100%;
  max-width: 1035px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto; }

.flex-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

body {
  font-family: "FiraSans-Regular";
  background-color: #eaeaea; }

.page-header {
  padding-top: 50px;
  padding-bottom: 30px; }
  .page-header .flex-wrap {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .page-header__logo {
    max-width: 270px;
    margin-right: auto; }
    .page-header__logo img {
      display: block;
      height: auto;
      width: 100%; }
  .page-header__button {
    font-size: 11px; }
  .page-header__tel {
    text-decoration: none;
    color: #000;
    padding: 5px 12px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 20px;
    margin-right: 45px; }
  .page-header__login, .page-header__auth {
    padding: 0 4px;
    color: #000;
    border: 0;
    background-color: transparent;
    font-size: 11px; }
  .page-header__cart {
    padding-left: 27px;
    position: relative;
    font-size: 11px;
    text-decoration: none;
    color: #000;
    margin-left: 65px; }

.main-nav {
  margin-bottom: 85px; }
  .main-nav .flex-wrap {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .main-nav__menu {
    font-size: 0; }
  .main-nav__link {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    color: #3c3d41;
    margin-right: 85px; }
    .main-nav__link:last-child {
      margin-right: 0; }
  .main-nav__search {
    background-color: transparent;
    border: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-image: url(../img/search-icon.svg);
    width: 24px;
    height: 24px; }

.page-footer {
  background-color: #f4f4f4;
  padding-top: 45px; }
  .page-footer .flex-wrap {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .page-footer__item {
    text-align: center;
    font-size: 10px;
    font-family: "FiraSans-Book";
    margin-bottom: 15px; }
  .page-footer form {
    position: relative; }
  .page-footer__input {
    border-radius: 4px;
    width: 180px;
    border: 1px solid #000;
    font-size: 10px;
    padding: 5px;
    background-color: transparent; }
  .page-footer__btn {
    position: absolute;
    border: 0;
    background-color: transparent;
    padding: 0;
    background-repeat: no-repeat;
    background-image: url(../img/envelope.png);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    right: 5px;
    top: 2px; }

.surprize-btn {
  position: fixed;
  top: 240px;
  left: -30px;
  background-color: #000;
  color: #fff;
  border: 0;
  padding: 19px 25px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }
  .surprize-btn span {
    display: block;
    font-size: 14px; }

.surprize-block {
  display: none; }

.login-block {
  display: none; }

/* Stylers for pages */
/* Styles for resnonsiveness */
