.page-brand-main {
	.main-nav {
		margin-bottom: 20px;
	}
}

.brand {
	&__row {
		margin-bottom: 15px;
	}
	&__img {
		position: relative;
		width: 100%;
		overflow: hidden;
		img {
			display: block;
			height: 100%;
			width: 100%;
		}
		&--50 {
			width: 49%;
		}
		&--25 {
			width: 24%;
		}
		&--33 {
			width: 32%;
		}
	}
	&__subtitle {
		text-align: center;
		font-size: 14px;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 12px;
		color: $menu-text;
	}
	&__all-brands {
		margin-bottom: 25px;
	}
	&__flex-wrap {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}
	&__link {
		text-transform: uppercase;
		text-decoration: none;
		color: $menu-text;
		padding: 8px 14px;
		font-size: 10px;
		&:hover {
			color: $black-color;
		}
	}
}