.container {
	width: 100%;
	max-width: 1035px;
	padding-left: 25px;
	padding-right: 25px;
	margin-left: auto;
	margin-right: auto;
}

.flex-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

body {
	font-family: 'Fira Sans', sans-serif;
	background-color: $bg-color;
	position: relative;
}

.page-header {
	padding-top: 50px;
	padding-bottom: 30px;
	.flex-wrap {
		justify-content: flex-end;
		align-items: center;
	}
	&__logo {
		max-width: 270px;
		margin-right: auto;
		img {
			display: block;
			height: auto;
			width: 100%;
		}
	}
	&__button {
		font-size: 11px;
	}
	&__tel {
		text-decoration: none;
		color: $black-color;
		padding: 5px 12px;
		text-align: center;
		border: 1px solid $black-color;
		border-radius: 20px;
		margin-right: 45px;
		font-size: 11px;
		&:hover {
			background-color: $black-color;
			color: $white-color;
		}
	}
	&__login,
	&__auth {
		padding: 0 4px;
		color: $black-color;
		border: 0;
		background-color: transparent;
		font-size: 11px;
		&:hover {
			opacity: 0.8;
		}
	}
	&__cart {
		padding-left: 27px;
		position: relative;
		font-size: 11px;
		text-decoration: none;
		color: $black-color;
		margin-left: 65px;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background-repeat: no-repeat;
			background-image: url($shopping-cart-image);
			background-position: $shopping-cart-offset-x $shopping-cart-offset-y;
			width: $shopping-cart-width;
			height: $shopping-cart-height;
		}
		&:hover {
			opacity: 0.8;
		}
	}
}

.header-mini {
	display: none;
	padding-top: 17px;
	padding-bottom: 40px;
	text-align: center;
	.flex-wrap {
		align-items: center;
	}
	.page-header__tel {
		display: inline-block;
		margin-right: 0;
		margin-bottom: 25px;
	}
	.page-header__logo {
		margin-right: 0;
		max-width: 175px;
	}
	.page-header__cart {
		margin-left: 0;
		padding-left: 0;
		width: 15px;
		height: 14px;
	}
	&__toggle {
		padding: 0;
		background-color: transparent;
		border: 0;
		background-repeat: no-repeat;
		background-image: url($menu-image);
		background-position: $menu-offset-x $menu-offset-y;
		width: $menu-width;
		height: $menu-height;
	}
}

.mobile-menu {
	display: none;
}

.page-main {
	.container {
		position: relative;
	}
}

.main-nav {
	margin-bottom: 85px;
	.flex-wrap {
		justify-content: space-between;
		align-items: center;
	}
	&__more {
		background-color: transparent;
		border: 0;
		padding: 0;
		background-repeat: no-repeat;
		background-image: url($three-dots-image);
		background-position: $three-dots-offset-x $three-dots-offset-y;
		width: $three-dots-width;
		height: $three-dots-height;
	}
	&__menu {
		font-size: 0;
	}
	&__link {
		display: inline-block;
		vertical-align: middle;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: bold;
		color: $menu-text;
		margin-right: 85px;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			opacity: 0.8;
		}
	}
	&__search {
		background-color: transparent;
		border: 0;
		padding: 0;
		background-repeat: no-repeat;
		background-image: url($search-icon-image);
		background-position: $search-icon-offset-x $search-icon-offset-y;
		width: $search-icon-width;
		height: $search-icon-height;
		&:hover {
			opacity: 0.8;
		}
	}
}

.additional-menu {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	max-height: 30px;
	&__link {
		display: block;
		color: $menu-text;
		text-decoration: none;
		font-size: 12px;
		margin-right: 95px;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			opacity: 0.8;
		}
	}
	&:first-of-type {
		top: 0;
		left: 40px;
		transform-origin: 0 0;
		transform: rotate(90deg);
	}
	&:last-of-type {
		top: 0;
		right: 35px;
		transform-origin: 100% 0;
		transform: rotate(-90deg);
		.additional-menu__link {
			transform: scale(-1);
		}
	}
}

.phone-btn {
	bottom: 55px;
	right: 25px;
	text-decoration: none;
	position: absolute;
	background-repeat: no-repeat;
	background-image: url($mobile-image);
	background-position: $mobile-offset-x $mobile-offset-y;
	width: $mobile-width;
	height: $mobile-height;
	&:hover {
		opacity: 0.8;
	}
}

.page-footer {
	background-color: $footer-bg;
	padding-top: 45px;
	padding-bottom: 100px;
	.flex-wrap--vertical {
		width: 32%;
		display: flex;
		flex-direction: column;
//		justify-content: space-between;
	}
	&__item {
		text-align: center;
		font-size: 10px;
		margin-bottom: 15px;
		width: 100%;
		letter-spacing: 0.05em;
		&--copy {
			margin-bottom: 30px;
		}
		&--address {
			margin-bottom: 25px;
		}
	}
	form {
		position: relative;
		width: 180px;
		margin-left: auto;
		margin-right: auto;
	}
	&__input {
		display: inline-block;
		border-radius: 4px;
		border: 1px solid $black-color;
		font-size: 10px;
		padding: 5px;
		margin-top: 5px;
		width: 100%;
		background-color: transparent;
		&:focus {
			outline: 0;
			box-shadow: 0 0 5px $black-color;
		}
	}
	&__btn {
		position: absolute;
		border: 0;
		background-color: transparent;
		padding: 0;
		background-repeat: no-repeat;
		background-image: url($inst-image);
		background-position: $mail-offset-x $mail-offset-y;
		width: $mail-width;
		height: $mail-height;
		right: 5px;
		top: 11px;
	}
	&__inst {
		padding-right: 50px;
		position: relative;
		font-size: 11px;
		text-decoration: none;
		color: $black-color;
		text-transform: uppercase;
		&:before {
			content: '';
			position: absolute;
			background-repeat: no-repeat;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
			background-image: url($inst-image);
			background-position: $inst-offset-x $inst-offset-y;
			width: $inst-width;
			height: $inst-height;
		}
	}
	&__partners {
		margin-top: 15px;
		a {
			padding-left: 7px;
			padding-right: 7px;
		}
	}
	&__partner {
		opacity: 0.8;
		display: block;
		height: auto;
		width: 100%;
		&:hover {
			opacity: 1;
		}
	}
}

.overlay {
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	background-color: rgba(0, 0, 0, 0.5);
}

.surprize-btn {
	position: fixed;
	top: 255px;
	left: -30px;
	background-color: $black-color;
	color: $white-color;
	border: 0;
	padding: 19px 25px;
	transform: rotate(-90deg);
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	span {
		display: block;
		font-size: 14px;
	}
}

.surprize-block {
	display: none;
	align-items: stretch;
	position: absolute;
	z-index: 10;
	top: 200px;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: $white-color;
	max-width: 600px;
	width: 100%;
	&__img {
		width: 50%;
		img {
			display: block;
			height: 100%;
			width: 100%;
		}
	}
	&__info {
		width: 50%;
		padding: 30px 45px 20px 45px;
		text-align: center;
	}
	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		background-repeat: no-repeat;
		background-image: url($close-icon-image);
		background-position: $close-icon-offset-x $close-icon-offset-y;
		width: $close-icon-width;
		height: $close-icon-height;
		padding: 0;
		border: 0;
		background-color: transparent;
	}
	&__title {
		font-size: 62px;
		line-height: 62px;
		font-weight: 600;
		margin: 0;
	}
	&__subtitle {
		font-size: 21px;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 15px;
		font-weight: 400;
	}
	&__descr {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 25px;
	}
	&__input {
		max-width: 150px;
		display: block;
		margin-bottom: 10px;
		border-radius: 4px;
		padding: 7px;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid $placehold-color;
		font-size: 12px;
		&:focus {
			outline: 0;
			box-shadow: 0 0 5px $black-color;
		}
	}
	&__btn {
		padding: 11px 45px;
		text-align: center;
		border-radius: 20px;
		text-transform: uppercase;
		border: 1px solid transparent;
		background-color: $black-color;
		color: $white-color;
		margin-bottom: 20px;
		font-size: 12px;
		&:hover {
			background-color: $white-color;
			border-color: $black-color;
			color: $black-color;
		}
	}
	&__hint {
		font-size: 9px;
		color: $placehold-color;
		margin: 0;
	}
}

.login-block {
	display: none;
	width: 100%;
	max-width: 600px;
	position: absolute;
	top: 150px;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, 0);
	background-color: $white-color;
	border: 1px solid $black-color;
	padding: 25px 20px;
	&__title-wrap {
		margin-bottom: 50px;
	}
	&__title {
		font-size: 12px;
		margin: 0;
		text-transform: uppercase;
	}
	&__close {
		background-repeat: no-repeat;
		background-image: url($close-icon-image);
		background-position: $close-icon-offset-x $close-icon-offset-y;
		width: $close-icon-width;
		height: $close-icon-height;
		padding: 0;
		border: 0;
		background-color: transparent;
	}
	&__form {
		width: 50%;
		&:first-child {
			padding-right: 35px;
		}
		&:last-child {
			padding-left: 35px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 1px;
				height: 100%;
				background-color: $placehold-color;
			}
		}
		&-title {
			font-size: 12px;
			margin-top: 0;
			margin-bottom: 13px;
			text-transform: uppercase;
		}
	}
	&__input {
		font-size: 12px;
		padding: 7px;
		border-radius: 4px;
		border: 1px solid $placehold-color;
		width: 100%;
		margin-bottom: 12px;
		&:focus {
			outline: 0;
			box-shadow: 0 0 5px $black-color;
		}
	}
	&__link {
		font-size: 12px;
		display: block;
		margin-bottom: 28px;
		color: $placehold-color;
		&:hover {
			color: $black-color;
		}
	}
	&__btn {
		padding: 7px 27px;
		border-radius: 20px;
		text-align: center;
		border: 1px solid $black-color;
		color: $black-color;
		background-color: transparent;
		font-size: 12px;
		&:hover {
			background-color: $black-color;
			color: $white-color;
		}
	}
}