.container {
	width: 100%;
	max-width: 1235px;
	padding-left: 25px;
	padding-right: 25px;
	margin-left: auto;
	margin-right: auto;
}

.flex-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.no-scroll {
	overflow: hidden;
	height: 100vh;
}

html {
	overflow-x: hidden;
}

body {
	font-family: 'Fira Sans', sans-serif;
	background-color: $bg-color;
	position: relative;
  min-width: 320px;
	overflow-x: hidden;
}

input {
	&.has-error {
		border-color: darkred;
		&:focus {
			box-shadow: 0 0 5px darkred;
		}
	}
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 70px, 0);
    transform: translate3d(0, 70px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.common-title {
	text-align: center;
	font-size: 18px;
	line-height: 18px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.page-header {
	padding-top: 50px;
	padding-bottom: 30px;
	.flex-wrap {
		justify-content: flex-end;
		align-items: center;
	}
	&__logo {
		max-width: 270px;
		margin-right: auto;
		img {
			display: block;
			height: auto;
			width: 100%;
		}
	}
	&__button {
		font-size: 11px;
	}
	&__tel {
		text-decoration: none;
		color: $black-color;
		padding: 3px 10px;
		text-align: center;
		border: 1px solid #7a7a7a;
		border-radius: 20px;
		margin-right: 45px;
		font-size: 10px;
		transition: all 0.3s;
		&:hover {
			background-color: $black-color;
			color: $white-color;
			border-color: $black-color;
		}
	}
	&__login,
	&__auth {
		padding: 0 4px;
		color: $black-color;
		border: 0;
		background-color: transparent;
		font-size: 11px;
		transition: opacity 0.3s;
		&:hover {
			opacity: 0.8;
		}
	}
	&__cart {
		padding-left: 27px;
		position: relative;
		font-size: 11px;
		text-decoration: none;
		color: $black-color;
		margin-left: 65px;
		transition: opacity 0.3s;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background-repeat: no-repeat;
			background-image: url($shopping-cart-image);
			background-position: $shopping-cart-offset-x $shopping-cart-offset-y;
			width: $shopping-cart-width;
			height: $shopping-cart-height;
//			@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
//				background-image: url($shopping-cart-2x-image);
//			background-position: $shopping-cart-2x-offset-x $shopping-cart-2x-offset-y;
//				background-size: $shopping-cart-total-width $shopping-cart-total-height;
//			width: $shopping-cart-width;
//			height: $shopping-cart-height;
//			}
		}
		&:hover {
			opacity: 0.8;
		}
		&-amount {
			display: inline-block;
			vertical-align: middle;
			color: $white-color;
			width: 20px;
			border-radius: 50%;
			text-align: center;
			padding: 4px 0;
			margin-left: 5px;
			height: 20px;
			background-color: $black-color;
		}
	}
}

.header-mini {
	display: none;
	padding-top: 17px;
	padding-bottom: 40px;
	text-align: center;
	.flex-wrap {
		align-items: center;
	}
	.page-header__tel {
		display: inline-block;
		margin-right: 0;
		margin-bottom: 25px;
	}
	.page-header__logo {
		margin-right: 0;
		max-width: 175px;
	}
	.page-header__cart {
		margin-left: 0;
		padding-left: 0;
		width: 15px;
		height: 14px;
	}
	&__toggle {
		padding: 0;
		background-color: transparent;
		border: 0;
		background-repeat: no-repeat;
		background-image: url($menu-image);
		background-position: $menu-offset-x $menu-offset-y;
		width: $menu-width;
		height: $menu-height;
	}
}

.mobile-menu {
	display: none;
	position: absolute;
	height: 100vh;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 80%;
	z-index: 20;
	background-color: $white-color;
	padding: 32px 20px 60px 20px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	transform: translate(-1000px, 0);
	transition: transform 0.3s;
	&__flex-wrap {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
	}
	&__buttons {
		font-size: 11px;
	}
	&__link {
		font-size: 11px;
		text-decoration: none;
		color: $placehold-color;
	}
	&__form {
		width: 100%;
		position: relative;
	}
	&__input {
		border-radius: 4px;
		width: 100%;
		display: block;
		border: 1px solid $placehold-color;
		height: 27px;
		font-size: 12px;
		padding: 5px 10px;
		transition: all 0.3s;
		&:focus {
			outline: 0;
			box-shadow: 0 0 5px $black-color;
		}
	}
	&__submit {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translate(0, -50%);
		background-color: transparent;
		border: 0;
		padding: 0;
		background-repeat: no-repeat;
		background-image: url($search-icon-image);
		background-position: $search-icon-offset-x $search-icon-offset-y;
		width: $search-icon-width;
		height: $search-icon-height;
	}
	&__nav {
		margin-top: 30px;
		&-link {
			text-transform: uppercase;
			text-decoration: none;
			display: block;
			font-weight: 400;
			font-size: 12px;
			margin-bottom: 10px;
			color: $black-color;
			&:last-child {
				margin-bottom: 0;
			}
			&.active {
				font-weight: 600;
			}
		}
		&--second {
			.mobile-menu__nav-link {
				color: $placehold-color;
			}
		}
	}
}

.page-main {
	.container {
		position: relative;
	}
}

.main-nav {
	margin-bottom: 85px;
	.flex-wrap {
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	&__more {
		background-color: transparent;
		border: 0;
		padding: 0;
		background-repeat: no-repeat;
		background-image: url($three-dots-image);
		background-position: $three-dots-offset-x $three-dots-offset-y;
		width: $three-dots-width;
		height: $three-dots-height;
	}
	&__menu {
		font-size: 0;
	}
	&__link {
		display: inline-block;
		vertical-align: middle;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: bold;
		color: $menu-text;
		margin-right: 85px;
		transition: opacity 0.3s;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			opacity: 0.8;
		}
	}
	&__search {
		background-color: transparent;
		border: 0;
		padding: 0;
		background-repeat: no-repeat;
		background-image: url($search-icon-image);
		background-position: $search-icon-offset-x $search-icon-offset-y;
		width: $search-icon-width;
		height: $search-icon-height;
		transition: opacity 0.3s;
		&:hover {
			opacity: 0.8;
		}
	}
	&__form {
		position: absolute;
		right: 15px;
		top: -5px;
		width: 0;
		visibility: hidden;
		transition: width 0.3s;
		&.active {
			visibility: visible;
			width: 200px;
			
		}
	}
}

.additional-menu {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	max-height: 30px;
	z-index: 1;
	&__link {
		display: block;
		color: $menu-text;
		text-decoration: none;
		font-size: 12px;
		margin-right: 95px;
		transition: opacity 0.3s;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			opacity: 0.8;
		}
	}
	&--first {
		top: 0;
		left: 40px;
		transform-origin: 0 0;
		transform: rotate(90deg);
	}
	&--second {
		top: 0;
		right: 35px;
		transform-origin: 100% 0;
		transform: rotate(-90deg);
		.additional-menu__link {
			transform: scale(-1);
		}
	}
}

.phone-btn {
	bottom: 55px;
	right: 25px;
	text-decoration: none;
	position: absolute;
	background-repeat: no-repeat;
	background-image: url($mobile-image);
	background-position: $mobile-offset-x $mobile-offset-y;
	width: $mobile-width;
	height: $mobile-height;
	transition: opacity 0.3s;
	&:hover {
		opacity: 0.8;
	}
}

.page-footer {
	background-color: $footer-bg;
	padding-top: 45px;
	padding-bottom: 100px;
	.flex-wrap--vertical {
		width: 32%;
		display: flex;
		flex-direction: column;
	}
	&__item {
		text-align: center;
		font-size: 10px;
		margin-bottom: 15px;
		width: 100%;
		letter-spacing: 0.05em;
		&--copy {
			margin-bottom: 30px;
		}
		&--address {
			margin-bottom: 25px;
		}
	}
	form {
		position: relative;
		width: 180px;
		margin-left: auto;
		margin-right: auto;
	}
	&__input {
		display: inline-block;
		border-radius: 4px;
		border: 1px solid $black-color;
		font-size: 10px;
		padding: 5px;
		margin-top: 5px;
		width: 100%;
		background-color: transparent;
		transition: all 0.3s;
		&:focus {
			outline: 0;
			box-shadow: 0 0 5px $black-color;
		}
	}
	&__btn {
		position: absolute;
		border: 0;
		background-color: transparent;
		padding: 0;
		background-repeat: no-repeat;
		background-image: url($inst-image);
		background-position: $mail-offset-x $mail-offset-y;
		width: $mail-width;
		height: $mail-height;
		right: 5px;
		top: 11px;
	}
	&__inst {
		padding-right: 50px;
		position: relative;
		font-size: 11px;
		text-decoration: none;
		color: $black-color;
		text-transform: uppercase;
		&:before {
			content: '';
			position: absolute;
			background-repeat: no-repeat;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
			background-image: url($inst-image);
			background-position: $inst-offset-x $inst-offset-y;
			width: $inst-width;
			height: $inst-height;
		}
	}
	&__partners {
		margin-top: 15px;
		a {
			padding-left: 7px;
			padding-right: 7px;
		}
	}
	&__partner {
		opacity: 0.8;
		display: block;
		height: auto;
		width: 100%;
		mix-blend-mode: multiply;
		transition: opacity 0.3s;
		&:hover {
			opacity: 1;
		}
	}
}

.pagination {
	text-align: center;
	font-size: 0;
	margin-top: 25px;
	margin-bottom: 30px;
	&__link {
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
		padding: 5px 9px;
		border-radius: 4px;
		text-decoration: none;
		border: 1px solid transparent;
		color: $black-color;
		margin-left: 1px;
		margin-right: 1px;
		transition: all 0.3s;
		&.active,
		&:hover {
			border-color: $black-color;
		}
		&--disable {
			&:hover {
				border-color: transparent;
				cursor: default;
			}
		}
	}
}

.breadcrumbs {
	font-size: 0;
	&__link {
		color: $placehold-color;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 15px;
		padding-right: 20px;
		position: relative;
		font-size: 9px;
		text-decoration: none;
		transition: color 0.3s;
		&:hover {
			color: $black-color;
		}
		&:after {
			content: '/';
			position: absolute;
			right: 9px;
		}
		&:last-child {
			padding-right: 0;
			&:after {
				display: none;
			}
		}
	}
}

.write-us {
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: $black-color;
	color: $white-color;
	text-align: center;
	padding: 15px 35px 15px 45px;
	font-size: 11px;
	font-weight: bold;
	border: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	z-index: 8;
	&:after {
		content: '...';
		position: absolute;
		top: 50%;
		right: 15px;
		font-size: 14px;
		color: $white-color;
		transform: translate(0, -50%);
	}
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translate(0, -50%);
		background-image: url($inst-image);
		background-position: $write-us-offset-x $write-us-offset-y;
		width: $write-us-width;
		height: $write-us-height;
	}
}

.overlay {
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	background-color: rgba(0, 0, 0, 0.5);
}

.surprize-btn {
	position: fixed;
	top: 255px;
	left: -30px;
	background-color: $black-color;
	color: $white-color;
	border: 0;
	padding: 19px 25px;
	transform: rotate(-90deg);
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	z-index: 10;
	span {
		display: block;
		font-size: 14px;
	}
}

.surprize-block {
	display: none;
	align-items: stretch;
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $white-color;
	max-width: 600px;
	width: 100%;
	&__img {
		width: 50%;
		img {
			display: block;
			height: 100%;
			width: 100%;
		}
	}
	&__info {
		width: 50%;
		padding: 30px 45px 20px 45px;
		text-align: center;
	}
	&__close {
		position: absolute;
		top: 5px;
		right: 5px;
		background-repeat: no-repeat;
		background-image: url($close-icon-image);
		background-position: $close-icon-offset-x $close-icon-offset-y;
		width: $close-icon-width;
		height: $close-icon-height;
		padding: 0;
		border: 0;
		border: 10px solid transparent;
		box-sizing: content-box;
		background-color: transparent;
	}
	&__title {
		font-size: 62px;
		line-height: 62px;
		font-weight: 600;
		margin: 0;
	}
	&__subtitle {
		font-size: 21px;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 15px;
		font-weight: 400;
	}
	&__descr {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 25px;
	}
	&__input {
		max-width: 150px;
		display: block;
		margin-bottom: 10px;
		border-radius: 4px;
		padding: 7px;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid $placehold-color;
		font-size: 12px;
		transition: all 0.3s;
		&:focus {
			outline: 0;
			box-shadow: 0 0 5px $black-color;
		}
	}
	&__btn {
		padding: 11px 45px;
		text-align: center;
		border-radius: 20px;
		text-transform: uppercase;
		border: 1px solid transparent;
		background-color: $black-color;
		color: $white-color;
		margin-bottom: 20px;
		font-size: 12px;
		transition: all 0.3s;
		&:hover {
			background-color: $white-color;
			border-color: $black-color;
			color: $black-color;
		}
	}
	&__hint {
		font-size: 9px;
		color: $placehold-color;
		margin: 0;
	}
}

.login-block {
	display: none;
	width: 100%;
	max-width: 600px;
	position: fixed;
	top: 30%;
	left: 50%;
	z-index: 30;
	transform: translate(-50%, -100px);
	background-color: $white-color;
	border: 1px solid $black-color;
	padding: 25px 20px;
	transition: transform 0.3s;
	&.active {
		transform: translate(-50%, 0);
	}
	&__title-wrap {
		margin-bottom: 50px;
		flex-direction: row !important;
	}
	&__title {
		font-size: 12px;
		margin: 0;
		text-transform: uppercase;
	}
	&__close {
		background-repeat: no-repeat;
		background-image: url($close-icon-image);
		background-position: $close-icon-offset-x $close-icon-offset-y;
		width: $close-icon-width;
		height: $close-icon-height;
		padding: 0;
		border: 0;
		background-color: transparent;
		border: 10px solid transparent;
		box-sizing: content-box;
		position: relative;
		top: -7px;
		right: -7px;
	}
	&__form {
		width: 50%;
		&:first-child {
			padding-right: 35px;
		}
		&:last-child {
			padding-left: 35px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 1px;
				height: 100%;
				background-color: $placehold-color;
			}
		}
		&-title {
			font-size: 12px;
			margin-top: 0;
			margin-bottom: 13px;
			text-transform: uppercase;
		}
	}
	&__input {
		font-size: 12px;
		padding: 7px;
		border-radius: 4px;
		border: 1px solid $placehold-color;
		width: 100%;
		margin-bottom: 12px;
		transition: all 0.3s;
		&:focus {
			outline: 0;
			box-shadow: 0 0 5px $black-color;
		}
	}
	&__link {
		font-size: 12px;
		display: block;
		margin-bottom: 28px;
		color: $placehold-color;
		transition: color 0.3s;
		&:hover {
			color: $black-color;
		}
	}
	&__btn {
		padding: 7px 27px;
		border-radius: 20px;
		text-align: center;
		border: 1px solid $black-color;
		color: $black-color;
		background-color: transparent;
		font-size: 12px;
		transition: all 0.3s;
		&:hover {
			background-color: $black-color;
			color: $white-color;
		}
	}
}
