.page-contacts-main {
	background-color: $white-color;
	.main-nav {
		margin-bottom: 45px;
	}
}

.contacts {
	margin-bottom: 95px;
	&__tabs {
		font-size: 0;
		margin-bottom: 25px;
	}
	&__tabs-title {
		display: inline-block;
		vertical-align: middle;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 50px;
	}
	&__tab-toggle {
		text-decoration: none;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		text-transform: uppercase;
		padding: 5px 18px;
		border-radius: 7px;
		border: 1px solid transparent;
		background-color: transparent;
		font-size: 10px;
		color: $menu-text;
		transition: all 0.3s;
		margin-right: 10px;
		line-height: 10px;
		font-weight: bold;
		&.active,
		&:hover {
			border-color: #7a7a7a;
			color: $black-color;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	&__tab-wrap {
		display: none;
		&.active {
			display: block;
			animation: fadeInUp 0.3s linear forwards;
		}
	}
	&__map {
		margin-bottom: 30px;
		min-height: 335px;
		width: 100%;
	}
	&__address,
	&__tel,
	&__mail {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		color: $menu-text;
		a {
			color: $menu-text;
			text-decoration: none;
			transition: all 0.3s;
			&:hover {
				text-decoration: underline;
			}
		}
		&-title {
			width: 90px;
			margin: 0;
			font-size: 10px;
			line-height: 16px;
			text-transform: uppercase;
			font-weight: bold;
			margin-right: 15px;
			padding-left: 45px;
			position: relative;
			i {
				position: absolute;
				top: 50%;
				left: 5px;
				transform: translateY(-50%);
				background-repeat: no-repeat;
			}
		}
		&-info {
			width: calc(100% - 90px);
			margin: 0;
			font-size: 10px;
			line-height: 16px;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
	&__address {
		width: 42%;
	}
	&__tel {
		width: 29%;
	}
	&__mail {
		width: 29%;
	}
}