//@mixin sprite($image, $size :true) {
//	@include sprite-image($image);
//	@include sprite-position($image);
//	background-repeat: no-repeat;
//	@if $size {
//		@include sprite-width($image);
//		@include sprite-height($image);
//	}
//	@media (-webkit-min-device-pixel-ratio: 2),
//	(min-resolution: 192dpi) {
//		@include sprite-size($image);
//		@include sprite-image-retina($image);
//	}
//}

.icon-shopping-cart {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	@include sprite($shopping-cart);
}