/* Colors */

$white-color: #fff;
$black-color: #000;

$bg-color: #eaeaea;
$footer-bg: #f4f4f4;

$menu-text: #3c3d41;

$placehold-color: #808080;


/* Fonts */

@font-face {
  font-family: 'FiraSans-Regular';
  src: url('../fonts/FiraSafira-sans/ns-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/FiraSafira-sans/ns-Regular.otf')  format('opentype'),
	     url('../fonts/fira-sans/FiraSans-Regular.woff') format('woff'), url('../fonts/fira-sans/FiraSans-Regular.ttf')  format('truetype'), url('../fonts/fira-sans/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Book';
  src: url('../fonts/fira-sans/FiraSans-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/fira-sans/FiraSans-Book.otf')  format('opentype'),
	     url('../fonts/fira-sans/FiraSans-Book.woff') format('woff'), url('../fonts/fira-sans/FiraSans-Book.ttf')  format('truetype'), url('../fonts/fira-sans/FiraSans-Book.svg#FiraSans-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Bold';
  src: url('../fonts/fira-sans/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/fira-sans/FiraSans-Bold.otf')  format('opentype'),
	     url('../fonts/fira-sans/FiraSans-Bold.woff') format('woff'), url('../fonts/fira-sans/FiraSans-Bold.ttf')  format('truetype'), url('../fonts/fira-sans/FiraSans-Bold.svg#FiraSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

$fira-r: 'FiraSans-Regular';
$fira-book: 'FiraSans-Book';
$fira-bold: 'FiraSans-Bold';