/* Colors */

$white-color: #fff;
$black-color: #000;

$bg-color: #eaeaea;
$footer-bg: #f4f4f4;

$menu-text: #3c3d41;
$slider-button: #838383;

$placehold-color: #808080;


/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700&subset=cyrillic');