@media (max-width: 1200px) {
	.surprize-btn {
		padding-top: 13px;
		padding-bottom: 13px;
		left: -35px;
	}
	.main-slider {
		.slick-prev {
			left: 10%;
		}
		.slick-next {
			right: 10%;
		}
	}
}

@media (max-width: 1100px) {
	.additional-menu {
		display: none;
	}
}

@media (max-width: 991px) {
	.surprize-btn {
		top: 215px;
	}
	.blog__main {
		padding-right: 10px;
	}
	.main-slider {
		.slick-prev {
			left: -15px;
		}
		.slick-next {
			right: -15px;
		}
	}
	.payment-page {
		&__title {
			margin: 25px 0;
			transform: translateX(0);
		}
		&__main {
			width: 100%;
			margin-left: 0;
		}
		&__payments {
			&-item {
				padding-left: 20px;
				padding-right: 20px;
			}
			&-img {
				img {
					display: block;
					height: auto;
					width: auto;
					max-width: 100%;
				}
			}
		}
	}
	.page-catalog-main {
		.second-menu__link {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.good-item {
		&__like-form {
			right: 10px;
		}
	}
	.load-more {
		&__item:first-child {
			padding-right: 10%;
		}
	}
	.success {
		&__slider {
			margin-left: 0;
			margin-right: 0;
		}
	}
	.personal__club {
		&-item {
			width: 48%;
		}
	}
	.sales-info {
		&__title {
			text-align: center;
		}
	}
	.cart__total {
		.our-advant__wrap {
			width: 75%;
			align-items: center;
		}
		.our-advant__deliv,
		.our-advant__sale,
		.our-advant__prize {
			padding-right: 10px;
		}
	}
	.cart__total-price {
		width: 25%;
	}
	.cart-block {
		&__good,
		&__size,
		&__amount,
		&__price {
			padding-left: 12px;
			padding-right: 12px;
		}
	}
	.cart__data {
		width: 60%;
		padding-right: 20px;
		.our-advant__wrap {
			width: 35%;
		}
	}
	.cart__goods {
		width: 40%;
	}
	.cart__inputs {
		width: 65%;
		padding-right: 20px;
	}
	.cart__goods-wrap {
		padding-left: 50px;
	}
	.cart__all {
		padding-left: 50px;
	}
	.pay-online__item:nth-child(2) {
		padding-left: 20px;
	}
	.pay-online__select--y {
		max-width: 55px;
	}
	.pay-online__input--cvv {
		max-width: 55px;
	}
	.goods-page {
		&__flex-wrap--bottom {
			flex-direction: column;
			.goods-page__half {
				width: 100%;
			}
		}
		&__about {
			padding-left: 20px;
		}
		&__similar {
			margin-top: 15px;
		}
	}
}

@media (max-width: 767px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.page-main {
		.container {
			max-width: 500px;
		}
	}
	.surprize-btn {
		top: 250px;
		font-size: 9px;
		padding: 11px 20px;
		left: -29px;
		span {
			font-size: 11px;
		}
	}
	.surprize-block {
		flex-direction: column;
		width: 80%;
		&__img {
			display: none;
		}
		&__info {
			padding-top: 15px;
			width: 100%;
		}
	}
	.phone-btn {
		display: none;
	}
	.page-header {
		display: none;
	}
	.header-mini {
		display: block;
	}
	.main-nav {
		display: none;
	}
	.mobile-menu {
		display: block;
	}
	.main-slider {
		display: none;
	}
	.main-mobile-slider {
		display: block;
	}
	.mobile-news {
		display: flex;
	}
	.main-mobile-slider-caption {
		display: block;
	}
	.sale-block {
		display: flex;
	}
	.login-block {
		max-width: 90%;
		top: 17%;
		.flex-wrap {
			flex-direction: column;
		}
		&__title-wrap {
			margin-bottom: 20px;
		}
		&__link {
			margin-bottom: 18px;
		}
		&__form {
			width: 100%;
			&:first-child {
				padding-right: 0;
				margin-bottom: 30px;
			}
			&:last-child {
				padding-left: 0;
				&:before {
					display: none;
				}
			}
		}
	}
	.page-footer {
		padding-top: 15px;
		padding-bottom: 75px;
		&__info {
			flex-direction: column;
			justify-content: center;
		}
		.flex-wrap--vertical {
			width: 100%;
		}
		&__item {
			&--copy {
				color: $placehold-color;
				margin-bottom: 23px;
			}
			&--address {
				margin-bottom: 12px;
			}
		}
		&__partners {
			justify-content: center;
			flex-wrap: wrap;
		}
		&__partner {
			margin-bottom: 12px;
		}
	}
	.write-us {
		right: 50% !important;
		transform: translateX(50%);
		min-width: 220px;
	}
	/* СТРАНИЦА БЛОГ */
	.second-menu {
		flex-wrap: wrap;
		border-bottom: 0;
		&__link:before {
			display: none;
		}
	}
	.blog {
		&__aside {
			width: 20%;
			&--follow {
				display: none;
			}
		}
		&__main {
			width: 80%;
		}
	}
	/* СТРАНИЦА КОНТАКТЫ */
	.contacts {
		.flex-wrap {
			flex-wrap: wrap;
		}
		&__address,
		&__tel {
			width: 50%;
		}
		&__mail {
			width: 50%;
			margin-top: 25px;
		}
	}
	/* СТРАНИЦА ОТЗЫВЫ */
	.reviews-page {
		&__title {
			margin-bottom: 30px;
		}
	}
	.review-item {
		margin-bottom: 40px;
		&__title,
		&__date,
		&__review,
		&__answer-title,
		&__answer-name,
		&__answer-date,
		&__answer-text {
			font-size: 15px;
		}
	}
	.add-review {
		position: fixed;
		bottom: 50%;
		transform: translate(-50%, 50%);
	}
	/* СТРАНИЦА ОПЛАТА/ДОСТАВКА */
	.payment-page {
		&__title {
			margin: 20px 0;
		}
		&__return {
			&-info {
				padding-right: 15px;
				width: 60%;
			}
			&-contacts {
				padding-left: 15px;
				width: 40%;
			}
		}
		&__guarant {
			&-item {
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	/* СТРАНИЦА КАТАЛОГ */
	.filters {
		flex-direction: column;
		&__form {
			width: 100%;
			max-width: 100%;
		}
	}
	.sort {
		flex-direction: column;
		&__item {
			width: 100%;
			text-align: left;
			justify-content: flex-start;
			&:first-child {
				width: 100%;
				text-align: left;
				margin-bottom: 15px;
			}
			&:last-child {
				justify-content: flex-start;
			}
		}
	}
	.good-item {
		width: 49%;
		margin-bottom: 50px;
		&__label {
			margin-right: 5px;
		}
	}
	.load-more {
		flex-direction: column;
		margin-bottom: 45px;
		&__item {
			width: 100%;
			text-align: center;
			&:first-child {
				width: 100%;
				margin-bottom: 20px;
				padding-right: 0;
			}
		}
	}
	/* СТРАНИЦА ЛИЧНЫЙ КАБИНЕТ */
	.personal {
		&__tab {
			padding-left: 30px;
			padding-right: 30px;
		}
		&__inputs {
			input {
				min-width: 75%;
			}
		}
		&__hint {
			max-width: 75%;
		}
		&__club {
			flex-direction: column;
			margin-bottom: 40px;
			&--second {
				margin-top: 40px;
				.personal__club-item {
					display: flex;
					flex-direction: column;
					&:first-child {
						width: 100%;
						text-align: center;
					}
					&:last-child {
						width: 100%;
					}
				}
				.sales-round {
					margin-bottom: 40px;
				}
				.personal-amounts {
					order: 1;
					&__title {
						font-size: 14px;
					}
					&__number {
						font-size: 17px;
					}
				}
				.sales-info {
					order: 0;
				}
				.our-advant {
					order: 2;
				}
			}
		}
		&__club-item {
			width: 100%;
			&:first-child {
				padding-right: 0;
			}
			&:last-child {
				padding-left: 0;
			}
		}
	}
	.sales-bar {
		margin-bottom: 40px;
		&__progress {
			width: 28%;
		}
	}
	.sales-info {
		margin-bottom: 40px;
		&__item {
			width: 33%;
		}
		&__title {
			text-align: center;
		}
	}
	.personal-amounts {
		margin-bottom: 40px;
	}
	/* КОРЗИНА */
	.cart {
		&__total {
			flex-direction: column;
			.our-advant__wrap {
				width: 100%;
				margin-bottom: 15px;
			}
			&-price {
				width: 100%;
			}
		}
	}
	.cart-block {
		flex-wrap: wrap;
		&__good,
		&__size,
		&__amount,
		&__price {
			width: 50%;
			max-width: 50%;
		}
		&__good,
		&__size {
			margin-bottom: 15px;
		}
		&__size {
			border: 0;
		}
	}
	.cart-ordering {
		flex-direction: column;
	}
	.cart__data {
		width: 100%;
	}
	.cart__goods {
		width: 100%;
		margin-top: 30px;
		&-wrap {
			display: none;
			border: 0;
			padding-left: 0;
		}
	}
	.cart__all {
		padding-left: 0;
		margin-top: 50px;
	}
	.pay-online {
		&__tooltip {
			left: -180px;
		}
	}
	/* Страница товара */
	.goods-page {
		&__slider-mini {
			margin-right: 10px;
		}
		&__buttons {
			flex-direction: column;
			align-items: flex-start;
		}
		&__findout,
		&__tocart-btn,
		&__to-order {
			margin-bottom: 10px;
		}
		&__similar {
			.success__slider {
				margin-left: 3%;
				margin-right: 3%;
			}
		}
	}
}

@media (max-width: 575px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.blog {
		&__aside {
			display: none;
		}
		&__main {
			width: 100%;
		}
		&__img {
			max-height: 250px;
		}
	}
	.brand {
		&__row {
			flex-wrap: wrap;
		}
		&__img {
			&--50 {
				width: 100%;
			}
			&--25 {
				width: 49%;
			}
			&--33 {
				width: 49%;
				&:last-child {
					display: none;
				}
			}
			&--neva {
				margin-bottom: 10px;
			}
		}
	}
	.contacts {
		margin-bottom: 65px;
		&__tab-toggle {
			padding: 5px 11px;
		}
		&__tabs-title {
			margin-right: 15px;
		}
		&__map {
			iframe {
				min-height: 285px;
			}
		}
		&__address,
		&__tel,
		&__mail {
			width: 100%;
		}
		&__tel {
			margin-top: 25px;
		}
	}
	.review-item {
		&__answer {
			padding-left: 40px;
			&:before {
				left: 30px;
			}
		}
	}
	.add-review {
		&__form {
			.flex-wrap {
				justify-content: flex-start;
				flex-wrap: wrap;
			}
		}
		&__input {
			max-width: 100%;
		}
		&__code-input {
			margin-bottom: 10px;
		}
		&__submit {
			//			margin-left: 0;
		}
	}
	.payment-page {
		&__payments {
			flex-direction: column;
			&-item {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
				margin-bottom: 25px;
				text-align: center;
				&:nth-child(2) {
					width: 100%;
					border: 0;
				}
			}
			&-title {
				padding-top: 50px;
				&:before {
					left: 50% !important;
					transform: translate(-50%, 0);
				}
			}
			&-sale {
				min-height: 0;
			}
			&-img {
				img {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
		&__delivery {
			&-wrap {
				flex-direction: row;
				display: flex;
				margin-bottom: 15px;
			}
			&-titles {
				flex-direction: column;
				background-color: transparent;
				justify-content: space-around;
				width: 50%;
				padding: 0;
				margin-bottom: 0;
			}
			&-title {
				width: 100%;
				color: $black-color;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			&-prices {
				flex-direction: column;
				width: 50%;
				margin-bottom: 0;
				justify-content: space-around;
			}
			&-item {
				width: 100%;
				&:nth-child(2) {
					width: 100%;
					border-left: 0;
					border-right: 0;
				}
			}
		}
		&__return {
			.flex-wrap {
				flex-direction: column;
				margin-bottom: 25px;
			}
			&-info {
				width: 100%;
				padding-right: 0;
				border-right: 0;
			}
			&-contacts {
				width: 100%;
				padding-left: 0;
				.payment-page__return-text {
					margin-bottom: 10px;
				}
			}
		}
	}
	.slick-dots li button {
		width: 12px;
		height: 12px;
	}
	.personal {
		&__tabs {
			border-bottom: 0;
			margin-bottom: 20px;
			justify-content: space-between;
		}
		&__tab {
			padding-left: 8px;
			padding-right: 8px;
			font-size: 11px;
		}
		&__inputs {
			input {
				min-width: 100%;
			}
		}
		&__hint {
			max-width: 100%;
		}
	}
	.sales-info {
		flex-direction: column;
		&__item {
			width: 100%;
			padding: 15px 0 15px 0;
			&:nth-child(2) {
				border-left: 0;
				border-right: 0;
				border-top: 1px solid #e9e9e9;
				border-bottom: 1px solid #e9e9e9;
			}
		}
	}
	.our-advant {
		&__title {
			font-size: 16px;
			margin-bottom: 20px;
		}
	}
	.cart {
		&__total {
			flex-direction: column;
			.our-advant__wrap {
				flex-direction: column;
			}
			.our-advant__deliv,
			.our-advant__sale,
			.our-advant__prize {
				width: 100%;
				margin-bottom: 20px;
				padding-left: 55px !important;
			}
		}
		&__links-order {
			display: block;
			margin-top: 10px;
			max-width: 180px;
			margin-left: auto;
		}
		&__all {
			margin-top: 0;
		}
	}
	.cart-block {
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 20px;
		padding-bottom: 0;
		&__good,
		&__price {
			width: 100%;
			max-width: 100%;
			margin-bottom: 15px;
			border: 0;
		}
		&__size {
			width: 40%;
			max-width: 100%;
			margin-bottom: 0;
			border-right: 1px solid #d9d9d9;
		}
		&__amount {
			border: 0;
			width: 60%;
			max-width: 100%;
		}
	}
	.cart__inputs {
		width: 100%;
		padding-right: 0;
	}
	.cart__data {
		padding-right: 0;
		.our-advant__wrap {
			display: none;
		}
	}
	.pay-online {
		padding: 25px 20px;
	}
	.pay-online--visible {
		width: 100%;
		max-width: 100%;
	}
	.goods-page {
		&__flex-wrap {
			flex-direction: column;
		}
		&__half {
			width: 100%;
		}
		&__about {
			padding-left: 0;
		}
		&__sliders {
			margin-bottom: 20px;
		}
		&__buttons {
			margin-bottom: 35px;
		}
		&__deliv {
			.payment-page__delivery-titles {
				flex-direction: row;
				width: 100%;
				background-color: #ccc;
			}
			.payment-page__delivery-title {
				color: $white-color;
			}
			.payment-page__delivery-prices {
				flex-direction: row;
				width: 100%;
			}
		}
	}
	.in-stock-popup,
	.quick-order-popup {
		right: -22px;
	}
	.size-grid-popup {
		width: calc(100% + 30px);
		padding-left: 15px;
		padding-right: 15px;
		&__row {
			padding-left: 0;
			padding-right: 0;
		}
		&__item {
			padding-left: 3px;
			padding-right: 3px;
			padding-top: 7px;
		}
		&__close {
			right: -11px;
		}
	}
}

@media (max-width: 475px) {
	.blog__img-wrap--break {
		flex-direction: column;
		.blog__img-item {
			margin-bottom: 15px;
			width: 100%;
			padding-left: 10px;
			padding-right: 0;
		}
		.blog__img-caption--rotate-bottom {
			left: 5px;
		}
	}
}

@media (max-width: 424px) {
	.good-item {
		//		width: 100%;
		&__form {
			margin-bottom: 15px;
		}
	}
	.success__slide {
		border-right: 0;
	}
}