@media (max-width: 1200px) {
	.surprize-btn {
		padding-top: 13px;
		padding-bottom: 13px;
		left: -35px;
	}
}

@media (max-width: 1100px) {
	.additional-menu {
		display: none;
	}
}

@media (max-width: 991px) {
	.surprize-btn {
		top: 215px;
	}
	.blog__main {
		padding-right: 10px;
	}
}

@media (max-width: 767px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.page-main {
		.container {
			max-width: 500px;
		}
	}
	.surprize-btn {
		top: 250px;
		font-size: 9px;
		padding: 11px 20px;
		left: -29px;
		span {
			font-size: 11px;
		}
	}
	.surprize-block {
		flex-direction: column;
		width: 80%;
		&__img {
			width: 100%;
			img {
				max-height: 250px;
			}
		}
		&__info {
			padding-top: 15px;
			width: 100%;
		}
	}
	.phone-btn {
		display: none;
	}
	.page-header {
		display: none;
	}
	.header-mini {
		display: block;
	}
	.main-nav {
		display: none;
	}
	.mobile-menu {
		display: block;
	}
	.main-slider {
		display: none;
	}
	.main-mobile-slider {
		display: block;
	}
	.mobile-news {
		display: flex;
	}
	.sale-block {
		display: flex;
	}
	.login-block {
		max-width: 90%;
		.flex-wrap {
			flex-direction: column;
		}
		&__title-wrap {
			margin-bottom: 20px;
		}
		&__link {
			margin-bottom: 18px;
		}
		&__form {
			width: 100%;
			&:first-child {
				padding-right: 0;
				margin-bottom: 30px;
			}
			&:last-child {
				padding-left: 0;
				&:before {
					display: none;
				}
			}
		}
	}
	.page-footer {
		padding-top: 15px;
		padding-bottom: 75px;
		&__info {
			flex-direction: column;
			justify-content: center;
		}
		.flex-wrap--vertical {
			width: 100%;
		}
		&__item {
			&--copy {
				color: $placehold-color;
				margin-bottom: 23px;
			}
			&--address {
				margin-bottom: 12px;
			}
		}
		&__partners {
			justify-content: center;
			flex-wrap: wrap;
		}
		&__partner {
			margin-bottom: 12px;
		}
	}
	.write-us {
		right: 50% !important;
		transform: translateX(50%);
		min-width: 220px;
	}
	
	/* СТРАНИЦА БЛОГ */
	.second-menu {
		flex-wrap: wrap;
		border-bottom: 0;
		&__link:before {
			display: none;
		}
	}
	
	.blog {
		&__aside {
			width: 20%;
			&--follow {
				display: none;
			}
		}
		&__main {
			width: 80%;
		}
	}
}

@media (max-width: 575px) {
	.blog {
		&__aside {
			display: none;
		}
		&__main {
			width: 100%;
		}
		&__img {
			max-height: 250px;
		}
	}
	.brand {
		&__row {
			flex-wrap: wrap;
		}
		&__img {
			&--50 {
			width: 100%;
		}
		&--25 {
			width: 49%;
		}
		&--33 {
			width: 49%;
			&:last-child {
				display: none;
			}
		}
		}
	}
}