@media (max-width: 1200px) {
	.surprize-btn {
		padding-top: 13px;
		padding-bottom: 13px;
		left: -35px;
	}
}

@media (max-width: 1100px) {
	.additional-menu {
		display: none;
	}
}

@media (max-width: 991px) {
	.surprize-btn {
		top: 215px;
	}
}