// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$address-name: 'address';
$address-x: 255px;
$address-y: 78px;
$address-offset-x: -255px;
$address-offset-y: -78px;
$address-width: 20px;
$address-height: 26px;
$address-total-width: 284px;
$address-total-height: 247px;
$address-image: '../img/sprite.png';
$address: (255px, 78px, -255px, -78px, 20px, 26px, 284px, 247px, '../img/sprite.png', 'address', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 18px;
$arrow-left-y: 234px;
$arrow-left-offset-x: -18px;
$arrow-left-offset-y: -234px;
$arrow-left-width: 8px;
$arrow-left-height: 13px;
$arrow-left-total-width: 284px;
$arrow-left-total-height: 247px;
$arrow-left-image: '../img/sprite.png';
$arrow-left: (18px, 234px, -18px, -234px, 8px, 13px, 284px, 247px, '../img/sprite.png', 'arrow-left', );
$arrow-right-w-name: 'arrow-right-w';
$arrow-right-w-x: 225px;
$arrow-right-w-y: 187px;
$arrow-right-w-offset-x: -225px;
$arrow-right-w-offset-y: -187px;
$arrow-right-w-width: 4px;
$arrow-right-w-height: 7px;
$arrow-right-w-total-width: 284px;
$arrow-right-w-total-height: 247px;
$arrow-right-w-image: '../img/sprite.png';
$arrow-right-w: (225px, 187px, -225px, -187px, 4px, 7px, 284px, 247px, '../img/sprite.png', 'arrow-right-w', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 0px;
$arrow-right-y: 234px;
$arrow-right-offset-x: 0px;
$arrow-right-offset-y: -234px;
$arrow-right-width: 8px;
$arrow-right-height: 13px;
$arrow-right-total-width: 284px;
$arrow-right-total-height: 247px;
$arrow-right-image: '../img/sprite.png';
$arrow-right: (0px, 234px, 0px, -234px, 8px, 13px, 284px, 247px, '../img/sprite.png', 'arrow-right', );
$card-name: 'card';
$card-x: 194px;
$card-y: 0px;
$card-offset-x: -194px;
$card-offset-y: 0px;
$card-width: 51px;
$card-height: 41px;
$card-total-width: 284px;
$card-total-height: 247px;
$card-image: '../img/sprite.png';
$card: (194px, 0px, -194px, 0px, 51px, 41px, 284px, 247px, '../img/sprite.png', 'card', );
$cash-name: 'cash';
$cash-x: 194px;
$cash-y: 51px;
$cash-offset-x: -194px;
$cash-offset-y: -51px;
$cash-width: 41px;
$cash-height: 41px;
$cash-total-width: 284px;
$cash-total-height: 247px;
$cash-image: '../img/sprite.png';
$cash: (194px, 51px, -194px, -51px, 41px, 41px, 284px, 247px, '../img/sprite.png', 'cash', );
$close-icon-name: 'close-icon';
$close-icon-x: 206px;
$close-icon-y: 187px;
$close-icon-offset-x: -206px;
$close-icon-offset-y: -187px;
$close-icon-width: 9px;
$close-icon-height: 9px;
$close-icon-total-width: 284px;
$close-icon-total-height: 247px;
$close-icon-image: '../img/sprite.png';
$close-icon: (206px, 187px, -206px, -187px, 9px, 9px, 284px, 247px, '../img/sprite.png', 'close-icon', );
$crown-b-name: 'crown-b';
$crown-b-x: 255px;
$crown-b-y: 207px;
$crown-b-offset-x: -255px;
$crown-b-offset-y: -207px;
$crown-b-width: 21px;
$crown-b-height: 17px;
$crown-b-total-width: 284px;
$crown-b-total-height: 247px;
$crown-b-image: '../img/sprite.png';
$crown-b: (255px, 207px, -255px, -207px, 21px, 17px, 284px, 247px, '../img/sprite.png', 'crown-b', );
$crown-name: 'crown';
$crown-x: 194px;
$crown-y: 151px;
$crown-offset-x: -194px;
$crown-offset-y: -151px;
$crown-width: 21px;
$crown-height: 17px;
$crown-total-width: 284px;
$crown-total-height: 247px;
$crown-image: '../img/sprite.png';
$crown: (194px, 151px, -194px, -151px, 21px, 17px, 284px, 247px, '../img/sprite.png', 'crown', );
$e-money-name: 'e-money';
$e-money-x: 103px;
$e-money-y: 91px;
$e-money-offset-x: -103px;
$e-money-offset-y: -91px;
$e-money-width: 48px;
$e-money-height: 48px;
$e-money-total-width: 284px;
$e-money-total-height: 247px;
$e-money-image: '../img/sprite.png';
$e-money: (103px, 91px, -103px, -91px, 48px, 48px, 284px, 247px, '../img/sprite.png', 'e-money', );
$email-name: 'email';
$email-x: 161px;
$email-y: 91px;
$email-offset-x: -161px;
$email-offset-y: -91px;
$email-width: 23px;
$email-height: 15px;
$email-total-width: 284px;
$email-total-height: 247px;
$email-image: '../img/sprite.png';
$email: (161px, 91px, -161px, -91px, 23px, 15px, 284px, 247px, '../img/sprite.png', 'email', );
$guarant-name: 'guarant';
$guarant-x: 0px;
$guarant-y: 0px;
$guarant-offset-x: 0px;
$guarant-offset-y: 0px;
$guarant-width: 93px;
$guarant-height: 81px;
$guarant-total-width: 284px;
$guarant-total-height: 247px;
$guarant-image: '../img/sprite.png';
$guarant: (0px, 0px, 0px, 0px, 93px, 81px, 284px, 247px, '../img/sprite.png', 'guarant', );
$heart-active-name: 'heart-active';
$heart-active-x: 161px;
$heart-active-y: 187px;
$heart-active-offset-x: -161px;
$heart-active-offset-y: -187px;
$heart-active-width: 13px;
$heart-active-height: 12px;
$heart-active-total-width: 284px;
$heart-active-total-height: 247px;
$heart-active-image: '../img/sprite.png';
$heart-active: (161px, 187px, -161px, -187px, 13px, 12px, 284px, 247px, '../img/sprite.png', 'heart-active', );
$heart-name: 'heart';
$heart-x: 184px;
$heart-y: 187px;
$heart-offset-x: -184px;
$heart-offset-y: -187px;
$heart-width: 12px;
$heart-height: 11px;
$heart-total-width: 284px;
$heart-total-height: 247px;
$heart-image: '../img/sprite.png';
$heart: (184px, 187px, -184px, -187px, 12px, 11px, 284px, 247px, '../img/sprite.png', 'heart', );
$inst-big-name: 'inst-big';
$inst-big-x: 0px;
$inst-big-y: 91px;
$inst-big-offset-x: 0px;
$inst-big-offset-y: -91px;
$inst-big-width: 86px;
$inst-big-height: 86px;
$inst-big-total-width: 284px;
$inst-big-total-height: 247px;
$inst-big-image: '../img/sprite.png';
$inst-big: (0px, 91px, 0px, -91px, 86px, 86px, 284px, 247px, '../img/sprite.png', 'inst-big', );
$inst-name: 'inst';
$inst-x: 94px;
$inst-y: 187px;
$inst-offset-x: -94px;
$inst-offset-y: -187px;
$inst-width: 32px;
$inst-height: 32px;
$inst-total-width: 284px;
$inst-total-height: 247px;
$inst-image: '../img/sprite.png';
$inst: (94px, 187px, -94px, -187px, 32px, 32px, 284px, 247px, '../img/sprite.png', 'inst', );
$mail-name: 'mail';
$mail-x: 156px;
$mail-y: 149px;
$mail-offset-x: -156px;
$mail-offset-y: -149px;
$mail-width: 17px;
$mail-height: 11px;
$mail-total-width: 284px;
$mail-total-height: 247px;
$mail-image: '../img/sprite.png';
$mail: (156px, 149px, -156px, -149px, 17px, 11px, 284px, 247px, '../img/sprite.png', 'mail', );
$menu-name: 'menu';
$menu-x: 129px;
$menu-y: 149px;
$menu-offset-x: -129px;
$menu-offset-y: -149px;
$menu-width: 17px;
$menu-height: 13px;
$menu-total-width: 284px;
$menu-total-height: 247px;
$menu-image: '../img/sprite.png';
$menu: (129px, 149px, -129px, -149px, 17px, 13px, 284px, 247px, '../img/sprite.png', 'menu', );
$mobile-name: 'mobile';
$mobile-x: 47px;
$mobile-y: 187px;
$mobile-offset-x: -47px;
$mobile-offset-y: -187px;
$mobile-width: 37px;
$mobile-height: 37px;
$mobile-total-width: 284px;
$mobile-total-height: 247px;
$mobile-image: '../img/sprite.png';
$mobile: (47px, 187px, -47px, -187px, 37px, 37px, 284px, 247px, '../img/sprite.png', 'mobile', );
$money-name: 'money';
$money-x: 255px;
$money-y: 0px;
$money-offset-x: -255px;
$money-offset-y: 0px;
$money-width: 29px;
$money-height: 33px;
$money-total-width: 284px;
$money-total-height: 247px;
$money-image: '../img/sprite.png';
$money: (255px, 0px, -255px, 0px, 29px, 33px, 284px, 247px, '../img/sprite.png', 'money', );
$perc-name: 'perc';
$perc-x: 0px;
$perc-y: 187px;
$perc-offset-x: 0px;
$perc-offset-y: -187px;
$perc-width: 37px;
$perc-height: 37px;
$perc-total-width: 284px;
$perc-total-height: 247px;
$perc-image: '../img/sprite.png';
$perc: (0px, 187px, 0px, -187px, 37px, 37px, 284px, 247px, '../img/sprite.png', 'perc', );
$quality-name: 'quality';
$quality-x: 103px;
$quality-y: 0px;
$quality-offset-x: -103px;
$quality-offset-y: 0px;
$quality-width: 81px;
$quality-height: 81px;
$quality-total-width: 284px;
$quality-total-height: 247px;
$quality-image: '../img/sprite.png';
$quality: (103px, 0px, -103px, 0px, 81px, 81px, 284px, 247px, '../img/sprite.png', 'quality', );
$search-icon-name: 'search-icon';
$search-icon-x: 161px;
$search-icon-y: 116px;
$search-icon-offset-x: -161px;
$search-icon-offset-y: -116px;
$search-icon-width: 18px;
$search-icon-height: 18px;
$search-icon-total-width: 284px;
$search-icon-total-height: 247px;
$search-icon-image: '../img/sprite.png';
$search-icon: (161px, 116px, -161px, -116px, 18px, 18px, 284px, 247px, '../img/sprite.png', 'search-icon', );
$shopping-cart-name: 'shopping-cart';
$shopping-cart-x: 136px;
$shopping-cart-y: 187px;
$shopping-cart-offset-x: -136px;
$shopping-cart-offset-y: -187px;
$shopping-cart-width: 15px;
$shopping-cart-height: 14px;
$shopping-cart-total-width: 284px;
$shopping-cart-total-height: 247px;
$shopping-cart-image: '../img/sprite.png';
$shopping-cart: (136px, 187px, -136px, -187px, 15px, 14px, 284px, 247px, '../img/sprite.png', 'shopping-cart', );
$shopping-name: 'shopping';
$shopping-x: 255px;
$shopping-y: 176px;
$shopping-offset-x: -255px;
$shopping-offset-y: -176px;
$shopping-width: 19px;
$shopping-height: 21px;
$shopping-total-width: 284px;
$shopping-total-height: 247px;
$shopping-image: '../img/sprite.png';
$shopping: (255px, 176px, -255px, -176px, 19px, 21px, 284px, 247px, '../img/sprite.png', 'shopping', );
$star-name: 'star';
$star-x: 255px;
$star-y: 146px;
$star-offset-x: -255px;
$star-offset-y: -146px;
$star-width: 20px;
$star-height: 20px;
$star-total-width: 284px;
$star-total-height: 247px;
$star-image: '../img/sprite.png';
$star: (255px, 146px, -255px, -146px, 20px, 20px, 284px, 247px, '../img/sprite.png', 'star', );
$success-name: 'success';
$success-x: 194px;
$success-y: 102px;
$success-offset-x: -194px;
$success-offset-y: -102px;
$success-width: 39px;
$success-height: 39px;
$success-total-width: 284px;
$success-total-height: 247px;
$success-image: '../img/sprite.png';
$success: (194px, 102px, -194px, -102px, 39px, 39px, 284px, 247px, '../img/sprite.png', 'success', );
$tel-name: 'tel';
$tel-x: 255px;
$tel-y: 114px;
$tel-offset-x: -255px;
$tel-offset-y: -114px;
$tel-width: 22px;
$tel-height: 22px;
$tel-total-width: 284px;
$tel-total-height: 247px;
$tel-image: '../img/sprite.png';
$tel: (255px, 114px, -255px, -114px, 22px, 22px, 284px, 247px, '../img/sprite.png', 'tel', );
$three-dots-name: 'three-dots';
$three-dots-x: 36px;
$three-dots-y: 234px;
$three-dots-offset-x: -36px;
$three-dots-offset-y: -234px;
$three-dots-width: 3px;
$three-dots-height: 13px;
$three-dots-total-width: 284px;
$three-dots-total-height: 247px;
$three-dots-image: '../img/sprite.png';
$three-dots: (36px, 234px, -36px, -234px, 3px, 13px, 284px, 247px, '../img/sprite.png', 'three-dots', );
$user-b-name: 'user-b';
$user-b-x: 225px;
$user-b-y: 151px;
$user-b-offset-x: -225px;
$user-b-offset-y: -151px;
$user-b-width: 16px;
$user-b-height: 16px;
$user-b-total-width: 284px;
$user-b-total-height: 247px;
$user-b-image: '../img/sprite.png';
$user-b: (225px, 151px, -225px, -151px, 16px, 16px, 284px, 247px, '../img/sprite.png', 'user-b', );
$user-name: 'user';
$user-x: 103px;
$user-y: 149px;
$user-offset-x: -103px;
$user-offset-y: -149px;
$user-width: 16px;
$user-height: 16px;
$user-total-width: 284px;
$user-total-height: 247px;
$user-image: '../img/sprite.png';
$user: (103px, 149px, -103px, -149px, 16px, 16px, 284px, 247px, '../img/sprite.png', 'user', );
$write-us-name: 'write-us';
$write-us-x: 255px;
$write-us-y: 43px;
$write-us-offset-x: -255px;
$write-us-offset-y: -43px;
$write-us-width: 27px;
$write-us-height: 25px;
$write-us-total-width: 284px;
$write-us-total-height: 247px;
$write-us-image: '../img/sprite.png';
$write-us: (255px, 43px, -255px, -43px, 27px, 25px, 284px, 247px, '../img/sprite.png', 'write-us', );
$address-2x-name: 'address@2x';
$address-2x-x: 510px;
$address-2x-y: 156px;
$address-2x-offset-x: -510px;
$address-2x-offset-y: -156px;
$address-2x-width: 40px;
$address-2x-height: 52px;
$address-2x-total-width: 568px;
$address-2x-total-height: 494px;
$address-2x-image: '../img/sprite@2x.png';
$address-2x: (510px, 156px, -510px, -156px, 40px, 52px, 568px, 494px, '../img/sprite@2x.png', 'address@2x', );
$arrow-left-2x-name: 'arrow-left@2x';
$arrow-left-2x-x: 36px;
$arrow-left-2x-y: 468px;
$arrow-left-2x-offset-x: -36px;
$arrow-left-2x-offset-y: -468px;
$arrow-left-2x-width: 16px;
$arrow-left-2x-height: 26px;
$arrow-left-2x-total-width: 568px;
$arrow-left-2x-total-height: 494px;
$arrow-left-2x-image: '../img/sprite@2x.png';
$arrow-left-2x: (36px, 468px, -36px, -468px, 16px, 26px, 568px, 494px, '../img/sprite@2x.png', 'arrow-left@2x', );
$arrow-right-w-2x-name: 'arrow-right-w@2x';
$arrow-right-w-2x-x: 450px;
$arrow-right-w-2x-y: 374px;
$arrow-right-w-2x-offset-x: -450px;
$arrow-right-w-2x-offset-y: -374px;
$arrow-right-w-2x-width: 8px;
$arrow-right-w-2x-height: 14px;
$arrow-right-w-2x-total-width: 568px;
$arrow-right-w-2x-total-height: 494px;
$arrow-right-w-2x-image: '../img/sprite@2x.png';
$arrow-right-w-2x: (450px, 374px, -450px, -374px, 8px, 14px, 568px, 494px, '../img/sprite@2x.png', 'arrow-right-w@2x', );
$arrow-right-2x-name: 'arrow-right@2x';
$arrow-right-2x-x: 0px;
$arrow-right-2x-y: 468px;
$arrow-right-2x-offset-x: 0px;
$arrow-right-2x-offset-y: -468px;
$arrow-right-2x-width: 16px;
$arrow-right-2x-height: 26px;
$arrow-right-2x-total-width: 568px;
$arrow-right-2x-total-height: 494px;
$arrow-right-2x-image: '../img/sprite@2x.png';
$arrow-right-2x: (0px, 468px, 0px, -468px, 16px, 26px, 568px, 494px, '../img/sprite@2x.png', 'arrow-right@2x', );
$card-2x-name: 'card@2x';
$card-2x-x: 388px;
$card-2x-y: 0px;
$card-2x-offset-x: -388px;
$card-2x-offset-y: 0px;
$card-2x-width: 102px;
$card-2x-height: 82px;
$card-2x-total-width: 568px;
$card-2x-total-height: 494px;
$card-2x-image: '../img/sprite@2x.png';
$card-2x: (388px, 0px, -388px, 0px, 102px, 82px, 568px, 494px, '../img/sprite@2x.png', 'card@2x', );
$cash-2x-name: 'cash@2x';
$cash-2x-x: 388px;
$cash-2x-y: 102px;
$cash-2x-offset-x: -388px;
$cash-2x-offset-y: -102px;
$cash-2x-width: 82px;
$cash-2x-height: 82px;
$cash-2x-total-width: 568px;
$cash-2x-total-height: 494px;
$cash-2x-image: '../img/sprite@2x.png';
$cash-2x: (388px, 102px, -388px, -102px, 82px, 82px, 568px, 494px, '../img/sprite@2x.png', 'cash@2x', );
$close-icon-2x-name: 'close-icon@2x';
$close-icon-2x-x: 412px;
$close-icon-2x-y: 374px;
$close-icon-2x-offset-x: -412px;
$close-icon-2x-offset-y: -374px;
$close-icon-2x-width: 18px;
$close-icon-2x-height: 18px;
$close-icon-2x-total-width: 568px;
$close-icon-2x-total-height: 494px;
$close-icon-2x-image: '../img/sprite@2x.png';
$close-icon-2x: (412px, 374px, -412px, -374px, 18px, 18px, 568px, 494px, '../img/sprite@2x.png', 'close-icon@2x', );
$crown-b-2x-name: 'crown-b@2x';
$crown-b-2x-x: 510px;
$crown-b-2x-y: 414px;
$crown-b-2x-offset-x: -510px;
$crown-b-2x-offset-y: -414px;
$crown-b-2x-width: 42px;
$crown-b-2x-height: 34px;
$crown-b-2x-total-width: 568px;
$crown-b-2x-total-height: 494px;
$crown-b-2x-image: '../img/sprite@2x.png';
$crown-b-2x: (510px, 414px, -510px, -414px, 42px, 34px, 568px, 494px, '../img/sprite@2x.png', 'crown-b@2x', );
$crown-2x-name: 'crown@2x';
$crown-2x-x: 388px;
$crown-2x-y: 302px;
$crown-2x-offset-x: -388px;
$crown-2x-offset-y: -302px;
$crown-2x-width: 42px;
$crown-2x-height: 34px;
$crown-2x-total-width: 568px;
$crown-2x-total-height: 494px;
$crown-2x-image: '../img/sprite@2x.png';
$crown-2x: (388px, 302px, -388px, -302px, 42px, 34px, 568px, 494px, '../img/sprite@2x.png', 'crown@2x', );
$e-money-2x-name: 'e-money@2x';
$e-money-2x-x: 206px;
$e-money-2x-y: 182px;
$e-money-2x-offset-x: -206px;
$e-money-2x-offset-y: -182px;
$e-money-2x-width: 96px;
$e-money-2x-height: 96px;
$e-money-2x-total-width: 568px;
$e-money-2x-total-height: 494px;
$e-money-2x-image: '../img/sprite@2x.png';
$e-money-2x: (206px, 182px, -206px, -182px, 96px, 96px, 568px, 494px, '../img/sprite@2x.png', 'e-money@2x', );
$email-2x-name: 'email@2x';
$email-2x-x: 322px;
$email-2x-y: 182px;
$email-2x-offset-x: -322px;
$email-2x-offset-y: -182px;
$email-2x-width: 46px;
$email-2x-height: 30px;
$email-2x-total-width: 568px;
$email-2x-total-height: 494px;
$email-2x-image: '../img/sprite@2x.png';
$email-2x: (322px, 182px, -322px, -182px, 46px, 30px, 568px, 494px, '../img/sprite@2x.png', 'email@2x', );
$guarant-2x-name: 'guarant@2x';
$guarant-2x-x: 0px;
$guarant-2x-y: 0px;
$guarant-2x-offset-x: 0px;
$guarant-2x-offset-y: 0px;
$guarant-2x-width: 186px;
$guarant-2x-height: 162px;
$guarant-2x-total-width: 568px;
$guarant-2x-total-height: 494px;
$guarant-2x-image: '../img/sprite@2x.png';
$guarant-2x: (0px, 0px, 0px, 0px, 186px, 162px, 568px, 494px, '../img/sprite@2x.png', 'guarant@2x', );
$heart-active-2x-name: 'heart-active@2x';
$heart-active-2x-x: 322px;
$heart-active-2x-y: 374px;
$heart-active-2x-offset-x: -322px;
$heart-active-2x-offset-y: -374px;
$heart-active-2x-width: 26px;
$heart-active-2x-height: 24px;
$heart-active-2x-total-width: 568px;
$heart-active-2x-total-height: 494px;
$heart-active-2x-image: '../img/sprite@2x.png';
$heart-active-2x: (322px, 374px, -322px, -374px, 26px, 24px, 568px, 494px, '../img/sprite@2x.png', 'heart-active@2x', );
$heart-2x-name: 'heart@2x';
$heart-2x-x: 368px;
$heart-2x-y: 374px;
$heart-2x-offset-x: -368px;
$heart-2x-offset-y: -374px;
$heart-2x-width: 24px;
$heart-2x-height: 22px;
$heart-2x-total-width: 568px;
$heart-2x-total-height: 494px;
$heart-2x-image: '../img/sprite@2x.png';
$heart-2x: (368px, 374px, -368px, -374px, 24px, 22px, 568px, 494px, '../img/sprite@2x.png', 'heart@2x', );
$inst-big-2x-name: 'inst-big@2x';
$inst-big-2x-x: 0px;
$inst-big-2x-y: 182px;
$inst-big-2x-offset-x: 0px;
$inst-big-2x-offset-y: -182px;
$inst-big-2x-width: 172px;
$inst-big-2x-height: 172px;
$inst-big-2x-total-width: 568px;
$inst-big-2x-total-height: 494px;
$inst-big-2x-image: '../img/sprite@2x.png';
$inst-big-2x: (0px, 182px, 0px, -182px, 172px, 172px, 568px, 494px, '../img/sprite@2x.png', 'inst-big@2x', );
$inst-2x-name: 'inst@2x';
$inst-2x-x: 188px;
$inst-2x-y: 374px;
$inst-2x-offset-x: -188px;
$inst-2x-offset-y: -374px;
$inst-2x-width: 64px;
$inst-2x-height: 64px;
$inst-2x-total-width: 568px;
$inst-2x-total-height: 494px;
$inst-2x-image: '../img/sprite@2x.png';
$inst-2x: (188px, 374px, -188px, -374px, 64px, 64px, 568px, 494px, '../img/sprite@2x.png', 'inst@2x', );
$mail-2x-name: 'mail@2x';
$mail-2x-x: 312px;
$mail-2x-y: 298px;
$mail-2x-offset-x: -312px;
$mail-2x-offset-y: -298px;
$mail-2x-width: 34px;
$mail-2x-height: 22px;
$mail-2x-total-width: 568px;
$mail-2x-total-height: 494px;
$mail-2x-image: '../img/sprite@2x.png';
$mail-2x: (312px, 298px, -312px, -298px, 34px, 22px, 568px, 494px, '../img/sprite@2x.png', 'mail@2x', );
$menu-2x-name: 'menu@2x';
$menu-2x-x: 258px;
$menu-2x-y: 298px;
$menu-2x-offset-x: -258px;
$menu-2x-offset-y: -298px;
$menu-2x-width: 34px;
$menu-2x-height: 26px;
$menu-2x-total-width: 568px;
$menu-2x-total-height: 494px;
$menu-2x-image: '../img/sprite@2x.png';
$menu-2x: (258px, 298px, -258px, -298px, 34px, 26px, 568px, 494px, '../img/sprite@2x.png', 'menu@2x', );
$mobile-2x-name: 'mobile@2x';
$mobile-2x-x: 94px;
$mobile-2x-y: 374px;
$mobile-2x-offset-x: -94px;
$mobile-2x-offset-y: -374px;
$mobile-2x-width: 74px;
$mobile-2x-height: 74px;
$mobile-2x-total-width: 568px;
$mobile-2x-total-height: 494px;
$mobile-2x-image: '../img/sprite@2x.png';
$mobile-2x: (94px, 374px, -94px, -374px, 74px, 74px, 568px, 494px, '../img/sprite@2x.png', 'mobile@2x', );
$money-2x-name: 'money@2x';
$money-2x-x: 510px;
$money-2x-y: 0px;
$money-2x-offset-x: -510px;
$money-2x-offset-y: 0px;
$money-2x-width: 58px;
$money-2x-height: 66px;
$money-2x-total-width: 568px;
$money-2x-total-height: 494px;
$money-2x-image: '../img/sprite@2x.png';
$money-2x: (510px, 0px, -510px, 0px, 58px, 66px, 568px, 494px, '../img/sprite@2x.png', 'money@2x', );
$perc-2x-name: 'perc@2x';
$perc-2x-x: 0px;
$perc-2x-y: 374px;
$perc-2x-offset-x: 0px;
$perc-2x-offset-y: -374px;
$perc-2x-width: 74px;
$perc-2x-height: 74px;
$perc-2x-total-width: 568px;
$perc-2x-total-height: 494px;
$perc-2x-image: '../img/sprite@2x.png';
$perc-2x: (0px, 374px, 0px, -374px, 74px, 74px, 568px, 494px, '../img/sprite@2x.png', 'perc@2x', );
$quality-2x-name: 'quality@2x';
$quality-2x-x: 206px;
$quality-2x-y: 0px;
$quality-2x-offset-x: -206px;
$quality-2x-offset-y: 0px;
$quality-2x-width: 162px;
$quality-2x-height: 162px;
$quality-2x-total-width: 568px;
$quality-2x-total-height: 494px;
$quality-2x-image: '../img/sprite@2x.png';
$quality-2x: (206px, 0px, -206px, 0px, 162px, 162px, 568px, 494px, '../img/sprite@2x.png', 'quality@2x', );
$search-icon-2x-name: 'search-icon@2x';
$search-icon-2x-x: 322px;
$search-icon-2x-y: 232px;
$search-icon-2x-offset-x: -322px;
$search-icon-2x-offset-y: -232px;
$search-icon-2x-width: 36px;
$search-icon-2x-height: 36px;
$search-icon-2x-total-width: 568px;
$search-icon-2x-total-height: 494px;
$search-icon-2x-image: '../img/sprite@2x.png';
$search-icon-2x: (322px, 232px, -322px, -232px, 36px, 36px, 568px, 494px, '../img/sprite@2x.png', 'search-icon@2x', );
$shopping-cart-2x-name: 'shopping-cart@2x';
$shopping-cart-2x-x: 272px;
$shopping-cart-2x-y: 374px;
$shopping-cart-2x-offset-x: -272px;
$shopping-cart-2x-offset-y: -374px;
$shopping-cart-2x-width: 30px;
$shopping-cart-2x-height: 28px;
$shopping-cart-2x-total-width: 568px;
$shopping-cart-2x-total-height: 494px;
$shopping-cart-2x-image: '../img/sprite@2x.png';
$shopping-cart-2x: (272px, 374px, -272px, -374px, 30px, 28px, 568px, 494px, '../img/sprite@2x.png', 'shopping-cart@2x', );
$shopping-2x-name: 'shopping@2x';
$shopping-2x-x: 510px;
$shopping-2x-y: 352px;
$shopping-2x-offset-x: -510px;
$shopping-2x-offset-y: -352px;
$shopping-2x-width: 38px;
$shopping-2x-height: 42px;
$shopping-2x-total-width: 568px;
$shopping-2x-total-height: 494px;
$shopping-2x-image: '../img/sprite@2x.png';
$shopping-2x: (510px, 352px, -510px, -352px, 38px, 42px, 568px, 494px, '../img/sprite@2x.png', 'shopping@2x', );
$star-2x-name: 'star@2x';
$star-2x-x: 510px;
$star-2x-y: 292px;
$star-2x-offset-x: -510px;
$star-2x-offset-y: -292px;
$star-2x-width: 40px;
$star-2x-height: 40px;
$star-2x-total-width: 568px;
$star-2x-total-height: 494px;
$star-2x-image: '../img/sprite@2x.png';
$star-2x: (510px, 292px, -510px, -292px, 40px, 40px, 568px, 494px, '../img/sprite@2x.png', 'star@2x', );
$success-2x-name: 'success@2x';
$success-2x-x: 388px;
$success-2x-y: 204px;
$success-2x-offset-x: -388px;
$success-2x-offset-y: -204px;
$success-2x-width: 78px;
$success-2x-height: 78px;
$success-2x-total-width: 568px;
$success-2x-total-height: 494px;
$success-2x-image: '../img/sprite@2x.png';
$success-2x: (388px, 204px, -388px, -204px, 78px, 78px, 568px, 494px, '../img/sprite@2x.png', 'success@2x', );
$tel-2x-name: 'tel@2x';
$tel-2x-x: 510px;
$tel-2x-y: 228px;
$tel-2x-offset-x: -510px;
$tel-2x-offset-y: -228px;
$tel-2x-width: 44px;
$tel-2x-height: 44px;
$tel-2x-total-width: 568px;
$tel-2x-total-height: 494px;
$tel-2x-image: '../img/sprite@2x.png';
$tel-2x: (510px, 228px, -510px, -228px, 44px, 44px, 568px, 494px, '../img/sprite@2x.png', 'tel@2x', );
$three-dots-2x-name: 'three-dots@2x';
$three-dots-2x-x: 72px;
$three-dots-2x-y: 468px;
$three-dots-2x-offset-x: -72px;
$three-dots-2x-offset-y: -468px;
$three-dots-2x-width: 6px;
$three-dots-2x-height: 26px;
$three-dots-2x-total-width: 568px;
$three-dots-2x-total-height: 494px;
$three-dots-2x-image: '../img/sprite@2x.png';
$three-dots-2x: (72px, 468px, -72px, -468px, 6px, 26px, 568px, 494px, '../img/sprite@2x.png', 'three-dots@2x', );
$user-b-2x-name: 'user-b@2x';
$user-b-2x-x: 450px;
$user-b-2x-y: 302px;
$user-b-2x-offset-x: -450px;
$user-b-2x-offset-y: -302px;
$user-b-2x-width: 32px;
$user-b-2x-height: 32px;
$user-b-2x-total-width: 568px;
$user-b-2x-total-height: 494px;
$user-b-2x-image: '../img/sprite@2x.png';
$user-b-2x: (450px, 302px, -450px, -302px, 32px, 32px, 568px, 494px, '../img/sprite@2x.png', 'user-b@2x', );
$user-2x-name: 'user@2x';
$user-2x-x: 206px;
$user-2x-y: 298px;
$user-2x-offset-x: -206px;
$user-2x-offset-y: -298px;
$user-2x-width: 32px;
$user-2x-height: 32px;
$user-2x-total-width: 568px;
$user-2x-total-height: 494px;
$user-2x-image: '../img/sprite@2x.png';
$user-2x: (206px, 298px, -206px, -298px, 32px, 32px, 568px, 494px, '../img/sprite@2x.png', 'user@2x', );
$write-us-2x-name: 'write-us@2x';
$write-us-2x-x: 510px;
$write-us-2x-y: 86px;
$write-us-2x-offset-x: -510px;
$write-us-2x-offset-y: -86px;
$write-us-2x-width: 54px;
$write-us-2x-height: 50px;
$write-us-2x-total-width: 568px;
$write-us-2x-total-height: 494px;
$write-us-2x-image: '../img/sprite@2x.png';
$write-us-2x: (510px, 86px, -510px, -86px, 54px, 50px, 568px, 494px, '../img/sprite@2x.png', 'write-us@2x', );
$spritesheet-width: 284px;
$spritesheet-height: 247px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($address, $arrow-left, $arrow-right-w, $arrow-right, $card, $cash, $close-icon, $crown-b, $crown, $e-money, $email, $guarant, $heart-active, $heart, $inst-big, $inst, $mail, $menu, $mobile, $money, $perc, $quality, $search-icon, $shopping-cart, $shopping, $star, $success, $tel, $three-dots, $user-b, $user, $write-us, );
$spritesheet: (284px, 247px, '../img/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 568px;
$retina-spritesheet-height: 494px;
$retina-spritesheet-image: '../img/sprite@2x.png';
$retina-spritesheet-sprites: ($address-2x, $arrow-left-2x, $arrow-right-w-2x, $arrow-right-2x, $card-2x, $cash-2x, $close-icon-2x, $crown-b-2x, $crown-2x, $e-money-2x, $email-2x, $guarant-2x, $heart-active-2x, $heart-2x, $inst-big-2x, $inst-2x, $mail-2x, $menu-2x, $mobile-2x, $money-2x, $perc-2x, $quality-2x, $search-icon-2x, $shopping-cart-2x, $shopping-2x, $star-2x, $success-2x, $tel-2x, $three-dots-2x, $user-b-2x, $user-2x, $write-us-2x, );
$retina-spritesheet: (568px, 494px, '../img/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$address-group-name: 'address';
$address-group: ('address', $address, $address-2x, );
$arrow-left-group-name: 'arrow-left';
$arrow-left-group: ('arrow-left', $arrow-left, $arrow-left-2x, );
$arrow-right-w-group-name: 'arrow-right-w';
$arrow-right-w-group: ('arrow-right-w', $arrow-right-w, $arrow-right-w-2x, );
$arrow-right-group-name: 'arrow-right';
$arrow-right-group: ('arrow-right', $arrow-right, $arrow-right-2x, );
$card-group-name: 'card';
$card-group: ('card', $card, $card-2x, );
$cash-group-name: 'cash';
$cash-group: ('cash', $cash, $cash-2x, );
$close-icon-group-name: 'close-icon';
$close-icon-group: ('close-icon', $close-icon, $close-icon-2x, );
$crown-b-group-name: 'crown-b';
$crown-b-group: ('crown-b', $crown-b, $crown-b-2x, );
$crown-group-name: 'crown';
$crown-group: ('crown', $crown, $crown-2x, );
$e-money-group-name: 'e-money';
$e-money-group: ('e-money', $e-money, $e-money-2x, );
$email-group-name: 'email';
$email-group: ('email', $email, $email-2x, );
$guarant-group-name: 'guarant';
$guarant-group: ('guarant', $guarant, $guarant-2x, );
$heart-active-group-name: 'heart-active';
$heart-active-group: ('heart-active', $heart-active, $heart-active-2x, );
$heart-group-name: 'heart';
$heart-group: ('heart', $heart, $heart-2x, );
$inst-big-group-name: 'inst-big';
$inst-big-group: ('inst-big', $inst-big, $inst-big-2x, );
$inst-group-name: 'inst';
$inst-group: ('inst', $inst, $inst-2x, );
$mail-group-name: 'mail';
$mail-group: ('mail', $mail, $mail-2x, );
$menu-group-name: 'menu';
$menu-group: ('menu', $menu, $menu-2x, );
$mobile-group-name: 'mobile';
$mobile-group: ('mobile', $mobile, $mobile-2x, );
$money-group-name: 'money';
$money-group: ('money', $money, $money-2x, );
$perc-group-name: 'perc';
$perc-group: ('perc', $perc, $perc-2x, );
$quality-group-name: 'quality';
$quality-group: ('quality', $quality, $quality-2x, );
$search-icon-group-name: 'search-icon';
$search-icon-group: ('search-icon', $search-icon, $search-icon-2x, );
$shopping-cart-group-name: 'shopping-cart';
$shopping-cart-group: ('shopping-cart', $shopping-cart, $shopping-cart-2x, );
$shopping-group-name: 'shopping';
$shopping-group: ('shopping', $shopping, $shopping-2x, );
$star-group-name: 'star';
$star-group: ('star', $star, $star-2x, );
$success-group-name: 'success';
$success-group: ('success', $success, $success-2x, );
$tel-group-name: 'tel';
$tel-group: ('tel', $tel, $tel-2x, );
$three-dots-group-name: 'three-dots';
$three-dots-group: ('three-dots', $three-dots, $three-dots-2x, );
$user-b-group-name: 'user-b';
$user-b-group: ('user-b', $user-b, $user-b-2x, );
$user-group-name: 'user';
$user-group: ('user', $user, $user-2x, );
$write-us-group-name: 'write-us';
$write-us-group: ('write-us', $write-us, $write-us-2x, );
$retina-groups: ($address-group, $arrow-left-group, $arrow-right-w-group, $arrow-right-group, $card-group, $cash-group, $close-icon-group, $crown-b-group, $crown-group, $e-money-group, $email-group, $guarant-group, $heart-active-group, $heart-group, $inst-big-group, $inst-group, $mail-group, $menu-group, $mobile-group, $money-group, $perc-group, $quality-group, $search-icon-group, $shopping-cart-group, $shopping-group, $star-group, $success-group, $tel-group, $three-dots-group, $user-b-group, $user-group, $write-us-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
