// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$address-name: 'address';
$address-x: 161px;
$address-y: 91px;
$address-offset-x: -161px;
$address-offset-y: -91px;
$address-width: 20px;
$address-height: 26px;
$address-total-width: 245px;
$address-total-height: 219px;
$address-image: '../img/sprite.png';
$address: (161px, 91px, -161px, -91px, 20px, 26px, 245px, 219px, '../img/sprite.png', 'address', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 97px;
$arrow-left-y: 187px;
$arrow-left-offset-x: -97px;
$arrow-left-offset-y: -187px;
$arrow-left-width: 8px;
$arrow-left-height: 13px;
$arrow-left-total-width: 245px;
$arrow-left-total-height: 219px;
$arrow-left-image: '../img/sprite.png';
$arrow-left: (97px, 187px, -97px, -187px, 8px, 13px, 245px, 219px, '../img/sprite.png', 'arrow-left', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 115px;
$arrow-right-y: 187px;
$arrow-right-offset-x: -115px;
$arrow-right-offset-y: -187px;
$arrow-right-width: 8px;
$arrow-right-height: 13px;
$arrow-right-total-width: 245px;
$arrow-right-total-height: 219px;
$arrow-right-image: '../img/sprite.png';
$arrow-right: (115px, 187px, -115px, -187px, 8px, 13px, 245px, 219px, '../img/sprite.png', 'arrow-right', );
$card-name: 'card';
$card-x: 194px;
$card-y: 0px;
$card-offset-x: -194px;
$card-offset-y: 0px;
$card-width: 51px;
$card-height: 41px;
$card-total-width: 245px;
$card-total-height: 219px;
$card-image: '../img/sprite.png';
$card: (194px, 0px, -194px, 0px, 51px, 41px, 245px, 219px, '../img/sprite.png', 'card', );
$cash-name: 'cash';
$cash-x: 194px;
$cash-y: 51px;
$cash-offset-x: -194px;
$cash-offset-y: -51px;
$cash-width: 41px;
$cash-height: 41px;
$cash-total-width: 245px;
$cash-total-height: 219px;
$cash-image: '../img/sprite.png';
$cash: (194px, 51px, -194px, -51px, 41px, 41px, 245px, 219px, '../img/sprite.png', 'cash', );
$close-icon-name: 'close-icon';
$close-icon-x: 133px;
$close-icon-y: 187px;
$close-icon-offset-x: -133px;
$close-icon-offset-y: -187px;
$close-icon-width: 9px;
$close-icon-height: 9px;
$close-icon-total-width: 245px;
$close-icon-total-height: 219px;
$close-icon-image: '../img/sprite.png';
$close-icon: (133px, 187px, -133px, -187px, 9px, 9px, 245px, 219px, '../img/sprite.png', 'close-icon', );
$e-money-name: 'e-money';
$e-money-x: 103px;
$e-money-y: 91px;
$e-money-offset-x: -103px;
$e-money-offset-y: -91px;
$e-money-width: 48px;
$e-money-height: 48px;
$e-money-total-width: 245px;
$e-money-total-height: 219px;
$e-money-image: '../img/sprite.png';
$e-money: (103px, 91px, -103px, -91px, 48px, 48px, 245px, 219px, '../img/sprite.png', 'e-money', );
$email-name: 'email';
$email-x: 135px;
$email-y: 149px;
$email-offset-x: -135px;
$email-offset-y: -149px;
$email-width: 23px;
$email-height: 15px;
$email-total-width: 245px;
$email-total-height: 219px;
$email-image: '../img/sprite.png';
$email: (135px, 149px, -135px, -149px, 23px, 15px, 245px, 219px, '../img/sprite.png', 'email', );
$guarant-name: 'guarant';
$guarant-x: 0px;
$guarant-y: 0px;
$guarant-offset-x: 0px;
$guarant-offset-y: 0px;
$guarant-width: 93px;
$guarant-height: 81px;
$guarant-total-width: 245px;
$guarant-total-height: 219px;
$guarant-image: '../img/sprite.png';
$guarant: (0px, 0px, 0px, 0px, 93px, 81px, 245px, 219px, '../img/sprite.png', 'guarant', );
$heart-name: 'heart';
$heart-x: 231px;
$heart-y: 149px;
$heart-offset-x: -231px;
$heart-offset-y: -149px;
$heart-width: 12px;
$heart-height: 11px;
$heart-total-width: 245px;
$heart-total-height: 219px;
$heart-image: '../img/sprite.png';
$heart: (231px, 149px, -231px, -149px, 12px, 11px, 245px, 219px, '../img/sprite.png', 'heart', );
$inst-big-name: 'inst-big';
$inst-big-x: 0px;
$inst-big-y: 91px;
$inst-big-offset-x: 0px;
$inst-big-offset-y: -91px;
$inst-big-width: 86px;
$inst-big-height: 86px;
$inst-big-total-width: 245px;
$inst-big-total-height: 219px;
$inst-big-image: '../img/sprite.png';
$inst-big: (0px, 91px, 0px, -91px, 86px, 86px, 245px, 219px, '../img/sprite.png', 'inst-big', );
$inst-name: 'inst';
$inst-x: 0px;
$inst-y: 187px;
$inst-offset-x: 0px;
$inst-offset-y: -187px;
$inst-width: 32px;
$inst-height: 32px;
$inst-total-width: 245px;
$inst-total-height: 219px;
$inst-image: '../img/sprite.png';
$inst: (0px, 187px, 0px, -187px, 32px, 32px, 245px, 219px, '../img/sprite.png', 'inst', );
$mail-name: 'mail';
$mail-x: 161px;
$mail-y: 127px;
$mail-offset-x: -161px;
$mail-offset-y: -127px;
$mail-width: 17px;
$mail-height: 11px;
$mail-total-width: 245px;
$mail-total-height: 219px;
$mail-image: '../img/sprite.png';
$mail: (161px, 127px, -161px, -127px, 17px, 11px, 245px, 219px, '../img/sprite.png', 'mail', );
$menu-name: 'menu';
$menu-x: 70px;
$menu-y: 187px;
$menu-offset-x: -70px;
$menu-offset-y: -187px;
$menu-width: 17px;
$menu-height: 13px;
$menu-total-width: 245px;
$menu-total-height: 219px;
$menu-image: '../img/sprite.png';
$menu: (70px, 187px, -70px, -187px, 17px, 13px, 245px, 219px, '../img/sprite.png', 'menu', );
$mobile-name: 'mobile';
$mobile-x: 194px;
$mobile-y: 102px;
$mobile-offset-x: -194px;
$mobile-offset-y: -102px;
$mobile-width: 37px;
$mobile-height: 37px;
$mobile-total-width: 245px;
$mobile-total-height: 219px;
$mobile-image: '../img/sprite.png';
$mobile: (194px, 102px, -194px, -102px, 37px, 37px, 245px, 219px, '../img/sprite.png', 'mobile', );
$quality-name: 'quality';
$quality-x: 103px;
$quality-y: 0px;
$quality-offset-x: -103px;
$quality-offset-y: 0px;
$quality-width: 81px;
$quality-height: 81px;
$quality-total-width: 245px;
$quality-total-height: 219px;
$quality-image: '../img/sprite.png';
$quality: (103px, 0px, -103px, 0px, 81px, 81px, 245px, 219px, '../img/sprite.png', 'quality', );
$search-icon-name: 'search-icon';
$search-icon-x: 42px;
$search-icon-y: 187px;
$search-icon-offset-x: -42px;
$search-icon-offset-y: -187px;
$search-icon-width: 18px;
$search-icon-height: 18px;
$search-icon-total-width: 245px;
$search-icon-total-height: 219px;
$search-icon-image: '../img/sprite.png';
$search-icon: (42px, 187px, -42px, -187px, 18px, 18px, 245px, 219px, '../img/sprite.png', 'search-icon', );
$shopping-cart-name: 'shopping-cart';
$shopping-cart-x: 168px;
$shopping-cart-y: 149px;
$shopping-cart-offset-x: -168px;
$shopping-cart-offset-y: -149px;
$shopping-cart-width: 15px;
$shopping-cart-height: 14px;
$shopping-cart-total-width: 245px;
$shopping-cart-total-height: 219px;
$shopping-cart-image: '../img/sprite.png';
$shopping-cart: (168px, 149px, -168px, -149px, 15px, 14px, 245px, 219px, '../img/sprite.png', 'shopping-cart', );
$tel-name: 'tel';
$tel-x: 103px;
$tel-y: 149px;
$tel-offset-x: -103px;
$tel-offset-y: -149px;
$tel-width: 22px;
$tel-height: 22px;
$tel-total-width: 245px;
$tel-total-height: 219px;
$tel-image: '../img/sprite.png';
$tel: (103px, 149px, -103px, -149px, 22px, 22px, 245px, 219px, '../img/sprite.png', 'tel', );
$three-dots-name: 'three-dots';
$three-dots-x: 241px;
$three-dots-y: 102px;
$three-dots-offset-x: -241px;
$three-dots-offset-y: -102px;
$three-dots-width: 3px;
$three-dots-height: 13px;
$three-dots-total-width: 245px;
$three-dots-total-height: 219px;
$three-dots-image: '../img/sprite.png';
$three-dots: (241px, 102px, -241px, -102px, 3px, 13px, 245px, 219px, '../img/sprite.png', 'three-dots', );
$write-us-name: 'write-us';
$write-us-x: 194px;
$write-us-y: 149px;
$write-us-offset-x: -194px;
$write-us-offset-y: -149px;
$write-us-width: 27px;
$write-us-height: 25px;
$write-us-total-width: 245px;
$write-us-total-height: 219px;
$write-us-image: '../img/sprite.png';
$write-us: (194px, 149px, -194px, -149px, 27px, 25px, 245px, 219px, '../img/sprite.png', 'write-us', );
$address-2x-name: 'address@2x';
$address-2x-x: 322px;
$address-2x-y: 182px;
$address-2x-offset-x: -322px;
$address-2x-offset-y: -182px;
$address-2x-width: 40px;
$address-2x-height: 52px;
$address-2x-total-width: 490px;
$address-2x-total-height: 438px;
$address-2x-image: '../img/sprite@2x.png';
$address-2x: (322px, 182px, -322px, -182px, 40px, 52px, 490px, 438px, '../img/sprite@2x.png', 'address@2x', );
$arrow-left-2x-name: 'arrow-left@2x';
$arrow-left-2x-x: 194px;
$arrow-left-2x-y: 374px;
$arrow-left-2x-offset-x: -194px;
$arrow-left-2x-offset-y: -374px;
$arrow-left-2x-width: 16px;
$arrow-left-2x-height: 26px;
$arrow-left-2x-total-width: 490px;
$arrow-left-2x-total-height: 438px;
$arrow-left-2x-image: '../img/sprite@2x.png';
$arrow-left-2x: (194px, 374px, -194px, -374px, 16px, 26px, 490px, 438px, '../img/sprite@2x.png', 'arrow-left@2x', );
$arrow-right-2x-name: 'arrow-right@2x';
$arrow-right-2x-x: 230px;
$arrow-right-2x-y: 374px;
$arrow-right-2x-offset-x: -230px;
$arrow-right-2x-offset-y: -374px;
$arrow-right-2x-width: 16px;
$arrow-right-2x-height: 26px;
$arrow-right-2x-total-width: 490px;
$arrow-right-2x-total-height: 438px;
$arrow-right-2x-image: '../img/sprite@2x.png';
$arrow-right-2x: (230px, 374px, -230px, -374px, 16px, 26px, 490px, 438px, '../img/sprite@2x.png', 'arrow-right@2x', );
$card-2x-name: 'card@2x';
$card-2x-x: 388px;
$card-2x-y: 0px;
$card-2x-offset-x: -388px;
$card-2x-offset-y: 0px;
$card-2x-width: 102px;
$card-2x-height: 82px;
$card-2x-total-width: 490px;
$card-2x-total-height: 438px;
$card-2x-image: '../img/sprite@2x.png';
$card-2x: (388px, 0px, -388px, 0px, 102px, 82px, 490px, 438px, '../img/sprite@2x.png', 'card@2x', );
$cash-2x-name: 'cash@2x';
$cash-2x-x: 388px;
$cash-2x-y: 102px;
$cash-2x-offset-x: -388px;
$cash-2x-offset-y: -102px;
$cash-2x-width: 82px;
$cash-2x-height: 82px;
$cash-2x-total-width: 490px;
$cash-2x-total-height: 438px;
$cash-2x-image: '../img/sprite@2x.png';
$cash-2x: (388px, 102px, -388px, -102px, 82px, 82px, 490px, 438px, '../img/sprite@2x.png', 'cash@2x', );
$close-icon-2x-name: 'close-icon@2x';
$close-icon-2x-x: 266px;
$close-icon-2x-y: 374px;
$close-icon-2x-offset-x: -266px;
$close-icon-2x-offset-y: -374px;
$close-icon-2x-width: 18px;
$close-icon-2x-height: 18px;
$close-icon-2x-total-width: 490px;
$close-icon-2x-total-height: 438px;
$close-icon-2x-image: '../img/sprite@2x.png';
$close-icon-2x: (266px, 374px, -266px, -374px, 18px, 18px, 490px, 438px, '../img/sprite@2x.png', 'close-icon@2x', );
$e-money-2x-name: 'e-money@2x';
$e-money-2x-x: 206px;
$e-money-2x-y: 182px;
$e-money-2x-offset-x: -206px;
$e-money-2x-offset-y: -182px;
$e-money-2x-width: 96px;
$e-money-2x-height: 96px;
$e-money-2x-total-width: 490px;
$e-money-2x-total-height: 438px;
$e-money-2x-image: '../img/sprite@2x.png';
$e-money-2x: (206px, 182px, -206px, -182px, 96px, 96px, 490px, 438px, '../img/sprite@2x.png', 'e-money@2x', );
$email-2x-name: 'email@2x';
$email-2x-x: 270px;
$email-2x-y: 298px;
$email-2x-offset-x: -270px;
$email-2x-offset-y: -298px;
$email-2x-width: 46px;
$email-2x-height: 30px;
$email-2x-total-width: 490px;
$email-2x-total-height: 438px;
$email-2x-image: '../img/sprite@2x.png';
$email-2x: (270px, 298px, -270px, -298px, 46px, 30px, 490px, 438px, '../img/sprite@2x.png', 'email@2x', );
$guarant-2x-name: 'guarant@2x';
$guarant-2x-x: 0px;
$guarant-2x-y: 0px;
$guarant-2x-offset-x: 0px;
$guarant-2x-offset-y: 0px;
$guarant-2x-width: 186px;
$guarant-2x-height: 162px;
$guarant-2x-total-width: 490px;
$guarant-2x-total-height: 438px;
$guarant-2x-image: '../img/sprite@2x.png';
$guarant-2x: (0px, 0px, 0px, 0px, 186px, 162px, 490px, 438px, '../img/sprite@2x.png', 'guarant@2x', );
$heart-2x-name: 'heart@2x';
$heart-2x-x: 462px;
$heart-2x-y: 298px;
$heart-2x-offset-x: -462px;
$heart-2x-offset-y: -298px;
$heart-2x-width: 24px;
$heart-2x-height: 22px;
$heart-2x-total-width: 490px;
$heart-2x-total-height: 438px;
$heart-2x-image: '../img/sprite@2x.png';
$heart-2x: (462px, 298px, -462px, -298px, 24px, 22px, 490px, 438px, '../img/sprite@2x.png', 'heart@2x', );
$inst-big-2x-name: 'inst-big@2x';
$inst-big-2x-x: 0px;
$inst-big-2x-y: 182px;
$inst-big-2x-offset-x: 0px;
$inst-big-2x-offset-y: -182px;
$inst-big-2x-width: 172px;
$inst-big-2x-height: 172px;
$inst-big-2x-total-width: 490px;
$inst-big-2x-total-height: 438px;
$inst-big-2x-image: '../img/sprite@2x.png';
$inst-big-2x: (0px, 182px, 0px, -182px, 172px, 172px, 490px, 438px, '../img/sprite@2x.png', 'inst-big@2x', );
$inst-2x-name: 'inst@2x';
$inst-2x-x: 0px;
$inst-2x-y: 374px;
$inst-2x-offset-x: 0px;
$inst-2x-offset-y: -374px;
$inst-2x-width: 64px;
$inst-2x-height: 64px;
$inst-2x-total-width: 490px;
$inst-2x-total-height: 438px;
$inst-2x-image: '../img/sprite@2x.png';
$inst-2x: (0px, 374px, 0px, -374px, 64px, 64px, 490px, 438px, '../img/sprite@2x.png', 'inst@2x', );
$mail-2x-name: 'mail@2x';
$mail-2x-x: 322px;
$mail-2x-y: 254px;
$mail-2x-offset-x: -322px;
$mail-2x-offset-y: -254px;
$mail-2x-width: 34px;
$mail-2x-height: 22px;
$mail-2x-total-width: 490px;
$mail-2x-total-height: 438px;
$mail-2x-image: '../img/sprite@2x.png';
$mail-2x: (322px, 254px, -322px, -254px, 34px, 22px, 490px, 438px, '../img/sprite@2x.png', 'mail@2x', );
$menu-2x-name: 'menu@2x';
$menu-2x-x: 140px;
$menu-2x-y: 374px;
$menu-2x-offset-x: -140px;
$menu-2x-offset-y: -374px;
$menu-2x-width: 34px;
$menu-2x-height: 26px;
$menu-2x-total-width: 490px;
$menu-2x-total-height: 438px;
$menu-2x-image: '../img/sprite@2x.png';
$menu-2x: (140px, 374px, -140px, -374px, 34px, 26px, 490px, 438px, '../img/sprite@2x.png', 'menu@2x', );
$mobile-2x-name: 'mobile@2x';
$mobile-2x-x: 388px;
$mobile-2x-y: 204px;
$mobile-2x-offset-x: -388px;
$mobile-2x-offset-y: -204px;
$mobile-2x-width: 74px;
$mobile-2x-height: 74px;
$mobile-2x-total-width: 490px;
$mobile-2x-total-height: 438px;
$mobile-2x-image: '../img/sprite@2x.png';
$mobile-2x: (388px, 204px, -388px, -204px, 74px, 74px, 490px, 438px, '../img/sprite@2x.png', 'mobile@2x', );
$quality-2x-name: 'quality@2x';
$quality-2x-x: 206px;
$quality-2x-y: 0px;
$quality-2x-offset-x: -206px;
$quality-2x-offset-y: 0px;
$quality-2x-width: 162px;
$quality-2x-height: 162px;
$quality-2x-total-width: 490px;
$quality-2x-total-height: 438px;
$quality-2x-image: '../img/sprite@2x.png';
$quality-2x: (206px, 0px, -206px, 0px, 162px, 162px, 490px, 438px, '../img/sprite@2x.png', 'quality@2x', );
$search-icon-2x-name: 'search-icon@2x';
$search-icon-2x-x: 84px;
$search-icon-2x-y: 374px;
$search-icon-2x-offset-x: -84px;
$search-icon-2x-offset-y: -374px;
$search-icon-2x-width: 36px;
$search-icon-2x-height: 36px;
$search-icon-2x-total-width: 490px;
$search-icon-2x-total-height: 438px;
$search-icon-2x-image: '../img/sprite@2x.png';
$search-icon-2x: (84px, 374px, -84px, -374px, 36px, 36px, 490px, 438px, '../img/sprite@2x.png', 'search-icon@2x', );
$shopping-cart-2x-name: 'shopping-cart@2x';
$shopping-cart-2x-x: 336px;
$shopping-cart-2x-y: 298px;
$shopping-cart-2x-offset-x: -336px;
$shopping-cart-2x-offset-y: -298px;
$shopping-cart-2x-width: 30px;
$shopping-cart-2x-height: 28px;
$shopping-cart-2x-total-width: 490px;
$shopping-cart-2x-total-height: 438px;
$shopping-cart-2x-image: '../img/sprite@2x.png';
$shopping-cart-2x: (336px, 298px, -336px, -298px, 30px, 28px, 490px, 438px, '../img/sprite@2x.png', 'shopping-cart@2x', );
$tel-2x-name: 'tel@2x';
$tel-2x-x: 206px;
$tel-2x-y: 298px;
$tel-2x-offset-x: -206px;
$tel-2x-offset-y: -298px;
$tel-2x-width: 44px;
$tel-2x-height: 44px;
$tel-2x-total-width: 490px;
$tel-2x-total-height: 438px;
$tel-2x-image: '../img/sprite@2x.png';
$tel-2x: (206px, 298px, -206px, -298px, 44px, 44px, 490px, 438px, '../img/sprite@2x.png', 'tel@2x', );
$three-dots-2x-name: 'three-dots@2x';
$three-dots-2x-x: 482px;
$three-dots-2x-y: 204px;
$three-dots-2x-offset-x: -482px;
$three-dots-2x-offset-y: -204px;
$three-dots-2x-width: 6px;
$three-dots-2x-height: 26px;
$three-dots-2x-total-width: 490px;
$three-dots-2x-total-height: 438px;
$three-dots-2x-image: '../img/sprite@2x.png';
$three-dots-2x: (482px, 204px, -482px, -204px, 6px, 26px, 490px, 438px, '../img/sprite@2x.png', 'three-dots@2x', );
$write-us-2x-name: 'write-us@2x';
$write-us-2x-x: 388px;
$write-us-2x-y: 298px;
$write-us-2x-offset-x: -388px;
$write-us-2x-offset-y: -298px;
$write-us-2x-width: 54px;
$write-us-2x-height: 50px;
$write-us-2x-total-width: 490px;
$write-us-2x-total-height: 438px;
$write-us-2x-image: '../img/sprite@2x.png';
$write-us-2x: (388px, 298px, -388px, -298px, 54px, 50px, 490px, 438px, '../img/sprite@2x.png', 'write-us@2x', );
$spritesheet-width: 245px;
$spritesheet-height: 219px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($address, $arrow-left, $arrow-right, $card, $cash, $close-icon, $e-money, $email, $guarant, $heart, $inst-big, $inst, $mail, $menu, $mobile, $quality, $search-icon, $shopping-cart, $tel, $three-dots, $write-us, );
$spritesheet: (245px, 219px, '../img/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 490px;
$retina-spritesheet-height: 438px;
$retina-spritesheet-image: '../img/sprite@2x.png';
$retina-spritesheet-sprites: ($address-2x, $arrow-left-2x, $arrow-right-2x, $card-2x, $cash-2x, $close-icon-2x, $e-money-2x, $email-2x, $guarant-2x, $heart-2x, $inst-big-2x, $inst-2x, $mail-2x, $menu-2x, $mobile-2x, $quality-2x, $search-icon-2x, $shopping-cart-2x, $tel-2x, $three-dots-2x, $write-us-2x, );
$retina-spritesheet: (490px, 438px, '../img/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$address-group-name: 'address';
$address-group: ('address', $address, $address-2x, );
$arrow-left-group-name: 'arrow-left';
$arrow-left-group: ('arrow-left', $arrow-left, $arrow-left-2x, );
$arrow-right-group-name: 'arrow-right';
$arrow-right-group: ('arrow-right', $arrow-right, $arrow-right-2x, );
$card-group-name: 'card';
$card-group: ('card', $card, $card-2x, );
$cash-group-name: 'cash';
$cash-group: ('cash', $cash, $cash-2x, );
$close-icon-group-name: 'close-icon';
$close-icon-group: ('close-icon', $close-icon, $close-icon-2x, );
$e-money-group-name: 'e-money';
$e-money-group: ('e-money', $e-money, $e-money-2x, );
$email-group-name: 'email';
$email-group: ('email', $email, $email-2x, );
$guarant-group-name: 'guarant';
$guarant-group: ('guarant', $guarant, $guarant-2x, );
$heart-group-name: 'heart';
$heart-group: ('heart', $heart, $heart-2x, );
$inst-big-group-name: 'inst-big';
$inst-big-group: ('inst-big', $inst-big, $inst-big-2x, );
$inst-group-name: 'inst';
$inst-group: ('inst', $inst, $inst-2x, );
$mail-group-name: 'mail';
$mail-group: ('mail', $mail, $mail-2x, );
$menu-group-name: 'menu';
$menu-group: ('menu', $menu, $menu-2x, );
$mobile-group-name: 'mobile';
$mobile-group: ('mobile', $mobile, $mobile-2x, );
$quality-group-name: 'quality';
$quality-group: ('quality', $quality, $quality-2x, );
$search-icon-group-name: 'search-icon';
$search-icon-group: ('search-icon', $search-icon, $search-icon-2x, );
$shopping-cart-group-name: 'shopping-cart';
$shopping-cart-group: ('shopping-cart', $shopping-cart, $shopping-cart-2x, );
$tel-group-name: 'tel';
$tel-group: ('tel', $tel, $tel-2x, );
$three-dots-group-name: 'three-dots';
$three-dots-group: ('three-dots', $three-dots, $three-dots-2x, );
$write-us-group-name: 'write-us';
$write-us-group: ('write-us', $write-us, $write-us-2x, );
$retina-groups: ($address-group, $arrow-left-group, $arrow-right-group, $card-group, $cash-group, $close-icon-group, $e-money-group, $email-group, $guarant-group, $heart-group, $inst-big-group, $inst-group, $mail-group, $menu-group, $mobile-group, $quality-group, $search-icon-group, $shopping-cart-group, $tel-group, $three-dots-group, $write-us-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
