.page-success-main {
	.main-nav {
		margin-bottom: 50px;
	}
}

.success {
	text-align: center;
	&__title {
		margin-top: 0;
		text-transform: uppercase;
		margin-bottom: 15px;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 0.05em;
		padding-top: 55px;
		position: relative;
		i {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__subtitle {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 0.05em;
	}
	&__descr {
		color: $placehold-color;
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
		font-size: 14px;
		font-weight: 400;
		margin-bottom: 15px;
		letter-spacing: 0.05em;
		a {
			color: $placehold-color;
			font-weight: 600;
			transition: all 0.3s;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__thanks {
		color: $placehold-color;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 400;
		margin-bottom: 20px;
		letter-spacing: 0.05em;
	}
	&__link {
		text-decoration: none;
		text-transform: lowercase;
		text-align: center;
		font-size: 11px;
		border-radius: 20px;
		background-color: $black-color;
		color: $white-color;
		padding: 9px 25px;
		letter-spacing: 0.05em;
		border: 1px solid $black-color;
		transition: all 0.3s;
		&:hover {
			color: $black-color;
			background-color: transparent;
		}
	}
	&__slider-title {
		margin-top: 55px;
		text-transform: uppercase;
		margin-bottom: 25px;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 0.05em;
	}
	&__slider {
		margin-left: 18%;
		margin-right: 18%;
		margin-bottom: 5px;
		.slick-prev,
		.slick-next {
			top: 50%;
		}
	}
	&__slide {
		border-right: 1px solid #d7d7d7;
		&.slick-active:last-child {
			border-right: 0;
		}
		.good-item {
			display: block;
			width: 100%;
			margin-bottom: 20px;
			&__title {
				margin-top: 15px;
			}
			&__price {
				display: block;
				margin-top: 20px;
			}
		}
	}
}